<h1>
What You Need to Know About Your Medication Before Surgery
</h1>

<h2>
Your Pre-admission clinic appointment
</h2>

<p>
Before surgery most patients are required to attend a pre-admission appointment. The aim of this appointment is to make sure you are ready for surgery by completing all required tests and reviews by our multidisciplinary team. 
</p>

<p>
As this clinic is very comprehensive, you need to allow 3-4 hours for attendance. This may vary depending on the type of surgery you are having, and the extent of tests required. You may also wish to bring a family member or support person with you to this appointment. It is a good idea to think about any questions you may have in advance so that you leave the meeting feeling informed.
</p>

<p>
During your appointment you may see:
<ul>
<li>
Nurse - to discuss your general health and home supports, record your vital signs (blood pressure, pulse etc) and help with general concerns or queries
</li>

<li>
Anaesthetist - to discuss the anaesthetic process, what to expect, concerns or queries
</li>

<li>
Pharmacist - to discuss your current medication regime and what you should do with your medicines prior to surgery
</li>

<li>
Doctor - to discuss the operation, what to expect, your stay in hospital, concerns or queries
</li>
</ul>
</p>

<h2>
Medications before surgery
</h2>

<p>
Between the doctor and the pharmacist at your pre-admission clinic appointment, a detailed history of the medications that you take will be recorded, including any prescription, over-the-counter medicines, herbal medicines, and any other medications prescribed by your general practitioner. 
</p>

<p>
It is <font color = "red"><em><b>very important </b></em></font> that you bring the following to your pre-admission clinic appointment:
<ul>
<li>
All your medications in the original packaging, both prescription and non-prescription. This includes medications from pharmacy, supermarket or health food shop and herbal remedies 
</li>

<li>
Prescriptions from your general practitioner (GP) or specialists 
</li>

<li>
Any webster/blister packs or medication rolls
</li>

<li>
A list of medicines from your GP or community pharmacy
</li>

<li>
A list of any allergies, bad reactions or side effects you have experienced with any medications
</li>
</ul>
</p>

<p>
Other important information to bring with you include:
<ul>
<li>
Recent blood tests results (completed outside of Queensland Health)
</li>

<li>
Any contact details of your private specialist doctors 
</li>

<li>
Any Pacemaker or Defibrillator information and any recent check reports or letters from your Cardiologist
</li>

<li>
If you use hearing aids or glasses, please bring them with you.
</li>
</ul>
</p>

<p>
Your Pre-admission clinic pharmacist:
<ol type = "1">
<li>
Will enter all your medication related information into your electronic record, and produce a medication list that highlights any medication changes required before surgery
</li>

<li>
Advise which medications you need to stop and when, and which medications you should continue taking before the surgery. It is important that you follow the advice provided by the pharmacist or doctor exactly, as failing to stop certain medications <font color = "red"><em><b>may result in your surgery being cancelled</b></em></font>
</li>

<li>
Advise you how to manage your usual morning medications on the morning of the operation, even if you are fasting.
</li>
</ol>
</p>

<h1>
Important Medication to Discuss with Your Doctor and Pharmacist
</h1>

<h3>
Blood thinning medications (such as warfarin, aspirin, clopidogrel, rivaroxaban, dabigatran, apixaban)
</h3>
<ul>
<li>
If a heart specialist has prescribed your blood thinning medication, they should review you prior to surgery or at least be notified that you are having surgery. The decision about ceasing medications should be made primarily by the prescribing doctor in consultation with your treating team in hospital. It is vital that you do not stop taking these medications without specific instructions on when to cease and restart them and whether any other medicines needs to be taken in the period that these drugs are ceased.
</li>
</ul>

<h3>
Diabetes (blood sugar) medications (including tablets and injectable medicines)
</h3>
<ul>
<li>
Seek instructions from your doctor or pharmacist in pre-admission clinic, as to when to cease and resume taking these medicines prior to surgery. This will depend on whether you have type 1 (insulin dependent) or type 2 diabetes (non insulin-dependent diabetes).
</li>
</ul>

<h3>
Pain, anxiety, and depression medications
</h3>
<ul>
<li>
Some pain medicine such as anti-inflammatory medicine may affect blood clotting before surgery. Ensure you speak to your pre-admission clinic doctor of pharmacist as to whether such medication needs to be ceased before surgery. These include over-the-counter medicines such as ibuprofen (Nurofen &reg, Advil &reg, Mersynofen &reg = paracetamol with ibuprofen), naproxen 
(Naprogesic &reg, Naprosyn &reg) and diclofenac (Voltaren &reg).
</li>
</ul>

<h3>
Medicines which affect the immune system (such as medicines used for arthritis conditions and auto-immune conditions)
</h3>
<ul>
<li>
Some medicines which are used to treat auto-immune conditions such as rheumatoid arthritis or inflammatory bowel disease may affect wound healing after surgery. It is important to inform your pre-admission clinic doctor or pharmacist if you are prescribed medicines from a specialist such as a rheumatologist or gastroenterologist, so they can assess if modification to your current medication regime is necessary
</li>
</ul>

<h3>
Nicotine, alcohol, marijuana, or other cannabidiol (CBD) products
</h3>
<ul>
<li>
Speak to your pre-admission clinic doctor or pharmacist as to whether use of the above can affect 
outcomes from your surgery. Quitting smoking prior to surgery is advised as it will lower your risk of lung complications such as pneumonia and reduce likelihood of wound infection and poor healing.
</li>
</ul>

<h2>
What about Herbal Medicine?
</h2>
<p>
Herbal medicine is defined as a plant-derived product used for medicinal and health purposes; commonly used herbal supplements include echinacea, garlic, ginseng, ginkgo biloba, St John’s wort and valerian.
Herbal medicines can have a variety of effects on surgery, including impairing blood clotting and promoting excessive bleeding. They may also interact with anaesthetic drugs including possibly prolonging the effects.
</p>
<p>
<b><u>ALL </u></b>herbal dietary supplements should be stopped two weeks prior to surgery.
</p>
