<!-- RBWH Retailers -->
<h2 class="articleBody">Pulse Cafe</h2>
<p>Breakfast and lunch menu with dine in or takeaway options.</p>
<p><strong>Open:</strong> Monday - Friday 6:30am-3:00pm</p>
<p><strong>Location:&nbsp;</strong>Ground floor Centre for Clinical Research Building (next to Education Centre)</p>
<p>&nbsp;</p>
<h2 class="articleBody">Metro Cafe</h2>
<p>Freshly prepared hot and cold light meals, cakes and coffee.</p>
<p><strong>Open:</strong>&nbsp;6:00am-3:30pm</p>
<p><strong>Location:</strong> Ground floor Ned Hanlon Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">Subway</h2>
<p><strong>Open:</strong> Monday-Friday 7.00am-8.00pm and weekends 7.00am-4.00pm</p>
<p><strong>Location:</strong> Level 1 Ned Hanlon Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">Coffee Clinic</h2>
<p>Coffee, prepacked light meals and snacks.</p>
<p><strong>Open:</strong> Monday-Friday 6.30am-2.00pm</p>
<p><strong>Location:</strong> Level 1 Atrium (Between Ned Hanlon Building and Dr James Mayne Building)</p>
<p>&nbsp;</p>
<h2 class="articleBody">Cancer Care Coffee Cart</h2>
<p>Coffee, prepacked light meals and snacks.</p>
<p><strong>Open:</strong> Monday-Friday 7.00am-2.30pm</p>
<p><strong>Location:</strong> Level 4 Joyce Tweddell Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">Coffee Cube</h2>
<p>Coffee, prepacked light meals and snacks.</p>
<p><strong>Open:</strong> Monday-Friday 6.30am-2pm</p>
<p><strong>Location:</strong> Level 6 Ned Hanlon Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">Food Court and Cafe</h2>
<p>A range of freshly prepared hot and cold food and drinks, sandwiches, salads, coffee, cakes and fruits.</p>
<p><strong>Open:</strong> Monday-Friday 7.00am-6.00pm and weekends 7.00am-4.00pm</p>
<p><strong>Location:</strong> Level 1 Ned Hanlon Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">City Pantry &ndash; Open All Hours</h2>
<p>Fresh fruit and meals that can be served cold or heated in the supplied microwave.</p>
<p><strong>Open:</strong> 24 hours a day 7 days a week</p>
<p><strong>Location:</strong> Level 1 Atrium (next to Coffee Clinic)</p>
<p><strong>Website:&nbsp;</strong><a href="http://www.citypantry.com.au/">http://www.citypantry.com.au/</a></p>
<p>&nbsp;</p>
<h2 class="articleBody">Australia Post Office</h2>
<p><strong>Open:</strong> Monday-Friday 9.00am-5.00pm and closed weekends</p>
<p><strong>Location:</strong> Level 1 Ned Hanlon Building, (near the newsagency towards the front of the hospital)</p>
<p><strong>Phone: &nbsp;</strong>(07) 3852 1282</p>
<p>&nbsp;</p>
<h2 class="articleBody">Hairdresser</h2>
<p><strong>Open:</strong> Monday-Friday 9.00am-5.00pm</p>
<p><strong>Location:</strong> Ground floor, Atrium, Ned Hanlon Building</p>
<p><strong>Phone: </strong>(07) 3636 0998</p>
<p><strong>Email:&nbsp;</strong>&nbsp;rbwh@organichairsalons.com.au</p>
<p><strong>Website:&nbsp;</strong><a href="http://www.citypantry.com.au/">http://organichairsalons.com.au/</a></p>
<p>&nbsp;</p>
<h2 class="articleBody">Atrium Pharmacy</h2>
<p><strong>Open:</strong> Monday-Friday 7.00am-6.00pm Weekends and public holidays 9.00am-5.00pm (inpatient services only)</p>
<p><strong>Location:</strong> Level 1 Ned Hanlon Building</p>
<p><strong>Phone: &nbsp;</strong>(07) 3854 0474</p>
<p><strong>Fax:</strong> (07) 3854 0434</p>
<p>&nbsp;</p>
<h2 class="articleBody">Justice of the Peace</h2>
<p><strong>Open:</strong> Monday-Friday 9.30am-4.30pm</p>
<p><strong>Location:</strong> Ground floor, Ned Hanlon Building (near Admissions and Chapel)</p>
<p>Out of hours bookings can be made at the information desk at the main hospital entrance or by calling <strong>(07)</strong><br /><strong>3646 7151.</strong></p>
<p>&nbsp;</p>
<h2 class="articleBody">RBWH Foundation Kiosk</h2>
<p>Baby clothes and accessories, soft toys, gifts, confectionery, books and phone cards.</p>
<p><strong>Open:</strong> Monday-Friday 8.30am-3.30pm</p>
<p><strong>Location:</strong> Ground floor, Atrium, Ned Hanlon Building</p>
<p>&nbsp;</p>
<h2 class="articleBody">Perrotts Florist</h2>
<p><strong>Open:</strong> Monday-Friday 8.00am-5.30pm, Saturday 9.30am-1.00pm and closed Sunday</p>
<p><strong>Location:</strong> Ground floor, Atrium, Dr James Mayne Building (near the main entrance)</p>
<p><strong>Phone: </strong>(07) 3252 7877</p>
<p><strong>Email:</strong> enquiries@perrotts.com.au</p>
<p>&nbsp;</p>
<h2 class="articleBody">RBWH Cycle Centre</h2>
<p>The Cycle Centre provides secure bike racks, lockers and showers for staff and the public.</p>
<p><strong>Open:</strong> Monday-Friday 8.00am-5.30pm, Saturday 9.30am-1.00pm and closed Sunday</p>
<p><strong>Location:</strong> Ground floor, Atrium, Dr James Mayne Building (near the main entrance)</p>
<p><strong>Phone: &nbsp;</strong>(07) 364 6Bike (2453)</p>
<p><strong>Fax:</strong> (07) 364 60800</p>
<p><strong>Email:</strong> RBWH-Cycle-Centre@health.qld.gov.au</p>
<p>&nbsp;</p>
<h2 class="articleBody">Phone chargers</h2>
<p>Recharge your phone's battery.</p>
<p><strong>Location:</strong> (1) Emergency Department, ground floor, Dr James Mayne Building (2)&nbsp;Level 1, Ned Hanlon Building in front of the Atrium Pharmacy</p>
<h2 class="articleBody">&nbsp;</h2>
<h2 class="articleBody">Internet and Wi-Fi</h2>
<p>Internet kiosks are available 24/7 at&nbsp;level 1 Ned Hanlon Building opposite the Atrium Pharmacy.</p>
<p>Free Wi-Fi is available in some areas. Look for the Free Wi-Fi signs or ask staff</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 class="articleBody">RBWH Newsagency and Gifts</h2>
<p>The Cycle Centre provides secure bike racks, lockers and showers for staff and the public.</p>
<p><strong>Open:</strong> Monday-Friday 6.00am-7.00pm, Saturday 7.00am-6.00pm, Sunday 7.00am-3.00pm and Public Holidays 7.00am-3.00pm</p>
<p><strong>Location:</strong> Level 1 Ned Hanlon Building</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>