<!--My Anaesthetist -->
<h2 class="articleBody">
    My Anaesthetist 
</h2>

<p class="articleBody">
    An anaesthetist is a specialist doctor who will:
    <ul class="articleBody">
        <li class="articleBody">
            Assess your health and discuss with you the type of anaesthetic suitable for your surgery.
        </li>
        <li class="articleBody">
            Discuss the risks of suitable anaesthetic options.
        </li>
        <li class="articleBody">
            Agree to a plan with you for your anaesthetic and pain control.
        </li>
        <li class="articleBody">
            Be responsible for giving your anaesthetic and caring for you during your surgery and straight after your surgery.
        </li>
    </ul>
</p>

<!--Types of Anaesthesia-->
<h2 class="articleBody">
    Types of Anaesthesia
</h2>

<p class="articleBody">
    You will be having a General, a Local, a Regional anaesthetic or a combination of these. 
</p>

<h3 class="articleBody">
    Pre-medication
</h3>

<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Is a drug that may be given to you before an anaesthetic to reduce or relieve anxiety. They are not given very often.
        </li>
    </ul>
</p>

<h3 class="articleBody">
    General anaesthetic
</h3>

<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            This is a mixture of drugs to keep you unconscious and pain free during an operation.
        </li>
        <li class="articleBody">
            Drugs are injected into a vein and/or breathed in as gases into the lungs. Your airway may be supported by a tube or a special device to keep you safe under a general anaesthetic, this is removed as you wake up after surgery. 
        </li>
    </ul>
</p>

<h3 class="articleBody">
    Local anaesthetic
</h3>

<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            This is used to numb a small part of your body. It is used when nerves can be easily reached by drops, sprays, ointments or injections.
        </li>
    </ul>
</p>

<h3 class="articleBody">
    Regional anaesthesia
</h3>

<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            This is where a large part of the body is numbed, for example an epidural and spinal anaesthetic. These techniques are used to stop pain during the operation, and/or for stopping pain afterwards.
        </li>
        <li class="articleBody">
            With local and regional anaesthetics, you can stay awake or you can sleep through the surgery (by giving you sedation or a general anaesthetic as well). 
        </li>
    </ul>
</p>

<!--Factors that May Increase the Potential of Anaesthetic Side Effects and Complications-->
<h2 class="articleBody">
    Factors that May Increase the Potential of Anaesthetic Side Effects and Complications
</h2>

<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            You are elderly
        </li>
        <li class="articleBody">
            Smoking
        </li>
        <li class="articleBody">
            Being overweight
        </li>
        <li class="articleBody">
            Diabetes
        </li>
        <li class="articleBody">
            Heart disease
        </li>
        <li class="articleBody">
            Kidney disease
        </li>
        <li class="articleBody">
            High blood pressure
        </li>
        <li class="articleBody">
            Other Serious medical conditions
        </li>
        <li class="articleBody">
            A bad cold or flu, asthma or other chest disease
        </li>
    </ul>
</p>

<!--The Risks of Anaesthesia-->
<h2 class="articleBody">
    The Risks of Anaesthesia
</h2>
<p class="articleBody">
    Modern anaesthesia is generally very safe. Every anaesthetic has a risk of side effects and complications.
</p>


<h3 class="articleBody">
    Common side effects and complications of anaesthesia
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Nausea or vomiting
        </li>
        <li class="articleBody">
            Headache
        </li>
        <li class="articleBody">
            Pain and/or bruising at injection sites
        </li>
        <li class="articleBody">
            Sore or dry throat and lips
        </li>
        <li class="articleBody">
            Blurred/double vision and dizziness
        </li>
        <li class="articleBody">
            Problems with passing urine
        </li>
    </ul>
</p>


<h3 class="articleBody">
    Less common side effects and complications of anaesthesia
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Muscle aches and pains
        </li>
        <li class="articleBody">
            Weakness
        </li>
        <li class="articleBody">
            Mild allergic reaction – itching or rash
        </li>
        <li class="articleBody">
            Temporary nerve damage
        </li>
    </ul>
</p>


<h3 class="articleBody">
    Uncommon side effects and complications of anaesthesia
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Being awake under general anaesthesia
        </li>
        <li class="articleBody">
            Damage to teeth and dental work
        </li>
        <li class="articleBody">
            Damage to the voice box and cords
        </li>
        <li class="articleBody">
            Allergic reactions and/or asthma
        </li>
        <li class="articleBody">
            Blood clot in the leg
        </li>
        <li class="articleBody">
            Epileptic seizure
        </li>
        <li class="articleBody">
            Chest infection (more likely with smokers)
        </li>
        <li class="articleBody">
            Permanent nerve damage due to the needle when giving an injection or due to pressure on a nerve during the surgery
        </li>
    </ul>
</p>


<h3 class="articleBody">
    Rare risks which may cause death
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Severe allergy or shock
        </li>
        <li class="articleBody">
            Very high temperature
        </li>
        <li class="articleBody">
            Stroke or heart attack
        </li>
        <li class="articleBody">
            Vomit in the lungs (pneumonia)
        </li>
        <li class="articleBody">
            Paralysis
        </li>
        <li class="articleBody">
            Blood clot in the lungs
        </li>
        <li class="articleBody">
            Brain damage
        </li>
    </ul>
</p>

<!--My Responsibilities Before Surgery-->
<h2 class="articleBody">
    My Responsibilities Before Surgery
</h2>
<p class="articleBody">
    You are at less risk of problems from an anaesthetic if you do the following:
    <ol class="articleBody">
        <li class="articleBody">
            Increase your fitness as tolerated.
        </li>
        <li class="articleBody">
            Stop smoking immediately.
        </li>
        <li class="articleBody">
            Bring all your medications to hospital.
        </li>
        <li class="articleBody">
            Drink less alcohol.
        </li>
        <li class="articleBody">
            Stop taking recreational drugs.
        </li>
        <li class="articleBody">
            Ask your surgeon which medications you need to stop before surgery.
        </li>
        <li class="articleBody">
            Let us know if you are on the contraceptive pill.
        </li>
        <li class="articleBody">
            Let us know about any health problems, infectious disease, past operations, serious illnesses, false teeth/caps/loose teeth or dental issues, as well as allergies or intolerances of any type.
        </li>
    </ol>
</p>

<p class="articleBody">
    <b class="articleBody" style="color: red;">
        It is <u>very</u> important <b class="articleBody">not</b> to eat, drink, chew gum or lollies before your surgery. This is to make sure your stomach is empty so that if you vomit under the anaesthetic, there will be nothing to go into your lungs. You will be told when you need to stop eating and drinking before surgery.
    </b>
</p>