<h2 class="articleBody">
We'll send you a surgical booking letter which will let you know: 
</h2>

<ul class="articleBody">
<li class="articleBody">
Your admission date and time
</li>

<li class="articleBody">
Where to present for admission
</li>

<li class="articleBody">
How to confirm your surgery
</li>

<li class="articleBody">
Rules around declining and cancelling surgery
</li>

<li class="articleBody">
How to contact us if you have any enquires
</li>
</ul>

<h2 class="articleBody">
Confirming your surgery
</h2>

<ul class="articleBody">
<li class="articleBody">
To confirm your surgery, you will need to call our surgery 
confirmation line-(07) 3646 1813. Select option 1 when prompted.
</li>

<li class="articleBody">
When you call this phone number you will hear a voice recording asking you to state your:
</li>

<ul class="articleBody">
<li class="articleBody">
URN (Hospital) number
</li>

<li class="articleBody">
Name
</li>

<li class="articleBody">
Date of birth
</li>

<li class="articleBody">
Date of surgery
</li>
</ul>
</ul>

<p class="articleBody">
Our terrific administration officers in our bookings department will review the voice recording and then confirm your surgery on our system. Once we have confirmed your surgery, you will receive a SMS message at 6pm notifying you that we have received your confirmation and actioned this in our system.
</p>

<p class="articleBody">
<b>If you do not confirm your surgery</b> this may result in your surgery being cancelled as we cannot be certain that you will attend.
</p>

<p class="articleBody">
We will send you a reminder text message 14 days and 2 days prior to your surgery. These text messages will look like this:
</p>

<p class="articleBody">
"Admission for your procedure at RBWH is booked for <DAY><DATE> at <TIME>. Please follow any preparations as advised by your clinicians. If you are unable to attend call (07) 3646 xxxx as soon as possible.
PLEASE DO NOT REPLY VIA SMS."
</p>