<div id="userpageContainer" class="userpage">
    <h1 class="userpage">
        Sign in
    </h1>

    <div class="loginEntry" id="urnContainer">
        <img class="loginEntry" src="https://my-rbwh-surgery-pathway.herokuapp.com/icons/user_urn_temp.jpg">
        <input class="loginEntry" type="text" name="urn" id="urn" placeholder="URN">
    </div>
    <div class="loginEntry" id="passwordContainer">
        <img class="loginEntry" src="https://my-rbwh-surgery-pathway.herokuapp.com/icons/user_password_temp.jpg">
        <input class="loginEntry" type="password" name="userpassword" id="password" placeholder="Password">
    </div>
    <button class="userpage" id="userpageButton" onclick="loginUser(document.getElementById('urn').value, document.getElementById('password').value)">Sign in</button>
    <p class="userpage" id="link" onclick="displaySignup()">Sign up</p>
    <p class="userpage" id="errorMessage"></p>
</div>