<div id="userpageContainer" class="userpage">

    <h1 class="userpage">
        Profile
    </h1>

    <p id="notificationStatus">Notification status: unknown</p>

    <button class="userpage" id="userpageButton" onclick="signOut()">Sign out</button>

</div>