<div id="userpageContainer" class="userpage">
    <h1 class="userpage">
        Sign up
    </h1>

    <div class="loginEntry" id="nameContainer">
        <input class="loginEntry" type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="loginEntry" id="urnContainer">
        <input class="loginEntry" type="text" name="urn" id="urn" placeholder="URN">
    </div>
    <div class="loginEntry" id="emailContainer">
        <input class="loginEntry" type="email" name="email" id="email" placeholder="Email">
    </div>
    <div class="loginEntry" id="phonenumberContainer">
        <input class="loginEntry" type="phonenumber" name="phonenumber" id="phonenumber" placeholder="Phone Number">
    </div>
    <div class="loginEntry" id="passwordContainer">
        <input class="loginEntry" type="password" name="userpassword" id="password" placeholder="Password">
    </div>
    <div class="loginEntry" id="cPasswordContainer">
        <input class="loginEntry" type="password" name="cUserpassword" id="cPassword" placeholder="Password">
    </div>
    <button class="userpage" id="userpageButton" onclick="registerUser(
        document.getElementById('name').value,
        document.getElementById('password').value,
        document.getElementById('cPassword').value,
        document.getElementById('urn').value,
        document.getElementById('email').value,
        document.getElementById('phonenumber').value
    )">Sign up</button>
    <p class="userpage" id="link" onclick="userButtonCLick()">Sign in</p>
    <p class="userpage" id="errorMessage"></p>
</div>