<p class="articleBody">
    The aim of fasting prior to anaesthesia or sedation for a surgical or medical procedure is to decrease the risk of perioperative regurgitation, which may result in aspiration syndrome. This may be associated with chemical pneumonitis, bacterial pneumonia or airway obstruction depending upon whether foreign material (food) and/or gastro-intestinal fluids (gastric acid, bile or other bowel contents) have been aspirated into the lungs.
</p>

<!--When fasting for your procedure:-->
<h2 class="articleBody">
    When fasting for your procedure:
</h2>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            For adults having an elective procedure, limited solid food may be taken up to six hours prior to anaesthesia and clear fluids may be taken up to two hours prior to anaesthesia.
        </li>
        <li class="articleBody">
            Prescribed medications may be taken with a sip of water less than two hours prior to anaesthesia unless otherwise directed.
        </li>
        <li class="articleBody">
            Chewing gum must be discarded. This is primarily due to its risk as a foreign body rather than increased gastric content.
        </li>
    </ul>
</p>

<!--Clear Fluids:-->
<h2 class="articleBody">
    Clear Fluids:
</h2>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            <b class="articleBody">Clear fluids include:</b> water, black tea, black coffee, cordials, clear fruit juice without pulp.
        </li>
        <li class="articleBody">
            Clear fluids <b class="articleBody">DO NOT</b> include: milk, milkshakes, coffee or tea with milk, cloudy fruit juices.
        </li>
    </ul>
</p>

<p class="articleBody">
    These fasting guidelines may not apply to all patient groups for example those at increased risk of perioperative regurgitation or vomiting, patients having emergency procedures and those with known/suspected delayed gastric emptying or oesophageal motility disorders, and obstetric patients in labour. Patients who have had bariatric surgery may also fall into this category. 
</p>


<p class="articleBody">
    <b class="articleBody">
        Please follow the fasting information provided to you by your healthcare professionals
    </b>
</p>

<h1 class="articleBody" style="color: red;">
    If you do not fast correctly your operation will be cancelled
</h1>

<!--At the RBWH we have three different types of operating lists – Morning lists, Afternoon lists and lists that run all day.-->
<h2 class="articleBody">
    At the RBWH we have three different types of operating lists – Morning lists, Afternoon lists and lists that run all day.
</h2>
<p class="articleBody">
    <b class="articleBody">
        Morning theatre list – 6.00am arrive at hospital
    </b>
    <ul class="articleBody">
        <li class="articleBody">
            No solid food from midnight. This includes lollies or chewing gum.
        </li>
        <li class="articleBody">
            Clear fluids from midnight to 5.00am. No more than 200mls an hour.
        </li>
        <li class="articleBody">
            Nil by Mouth from 5.00am, except a sip of water to help swallow tablets.
        </li>
    </ul>
</p>

<p class="articleBody">
    <b class="articleBody">
        Afternoon theatre list – 10.30am arrive at hospital
    </b>
    <ul class="articleBody">
        <li class="articleBody">
            Light breakfast (cereal or toast) before 7.00am.
        </li>
        <li class="articleBody">
            Clear fluids from 7.00am to 10.00am. No more than 200mls an hour.
        </li>
        <li class="articleBody">
            Nil by Mouth from 10.00am, except a sip of water to help swallow tablets.
        </li>
    </ul>
</p>

<p class="articleBody">
    <b class="articleBody">
        All day theatre list – arrival at hospital time can vary
    </b>
    <ul class="articleBody">
        <li class="articleBody">
            Your case manager will advise you what time you will need to present to the RBWH.
        </li>
        <li class="articleBody">
            Clear fluids will need to be ceased two hours prior to admission time. No more than 200mls an hour.
        </li>
        <li class="articleBody">
            No solid food from six hours prior to your admission time.
        </li>
    </ul>
</p>