<h2 class="articleBody">Indigenous Hospital Liaison Service</h2>
<p>Located: Level 1, Ned Hanlon Building</p>
<p>&nbsp;</p>
<p>Phone: (07) 3646 4154</p>
<p>&nbsp;</p>
<p>Team Leader: 0408 472 385</p>
<p>&nbsp;</p>
<p>Email: <a href="mailto:IndigenousHospitalLiaisonServicesMNHHS@health.qld.gov.au">IndigenousHospitalLiaisonServicesMNHHS@health.qld.gov.au</a></p>
<p>&nbsp;</p>
<p>Open:</p>
<p>Monday and Friday, 8:00am - 8:30pm</p>
<p>&nbsp;</p>
<p>Tuesday-Thursday, 8:00am - 5:00pm</p>
<p>&nbsp;</p>
<p>Saturday and Sunday, 10:00am - 6:30pm</p>
<p>&nbsp;</p>
<p><strong>After hour service</strong></p>
<p>&nbsp;</p>
<p>Phone: (07) 3647 4183</p>
<p>&nbsp;</p>
<p>Team Leader: 0408 472 385</p>
<p>&nbsp;</p>
<h2 class="articleBody">Maternity Service - Ngarrama Royal Midwifery Group Practice</h2>
<p>Located: Level 5, Ned Hanlon building</p>
<p>&nbsp;</p>
<p>Phone: (07) 3646 3759</p>
<p>&nbsp;</p>
<p>Email: <a href="mailto:Ngarrama_Royal@health.gov">Ngarrama_Royal@health.gov.au</a></p>
<p>&nbsp;</p>
<p>Open: Monday to Friday, 8:00am - 5:00pm</p>
<p>&nbsp;</p>
<h2 class="articleBody">Indigenous Mental Health Team</h2>
<p>Located: E Floor, Mental Health Centre</p>
<p>&nbsp;</p>
<p>Phone: (07) 3646 1189</p>
<p>&nbsp;</p>
<p>Email: <a href="mailto:indigenousmentalhealthreferrals@health.qld.gov.au">indigenousmentalhealthreferrals@health.qld.gov.au</a></p>
<p>&nbsp;</p>
<p>Open: Monday to Friday, 8:00am - 5:00pm</p>
<p>&nbsp;</p>
<h2 class="articleBody">How to refer</h2>
<p>Aboriginal and Torres Strait Islander people can self-refer or be referred by a family<br />member or service provider.</p>
<p>&nbsp;</p>
<ul>
<li>IHLO: see contact details above</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Ngarrama: see contact details above</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Mental Health: see contact details above</li>
</ul>