<table class="1weekBeforeMySurgery">
    <thead class="1weekBeforeMySurgery">
        <tr class="1weekBeforeMySurgery">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    1 week before my surgery
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="1weekBeforeMySurgery">
        <tr class="1weekBeforeMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Check my list of medications to be stopped as instructed by my pharmacist. Especially <b><u>BLOOD THINNING</u></b> medication.
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Refer to <u class="checklistLink" onclick="checklistSectionClick({'id':'instructionsForMyMedicationBeforeMySurgery'})">Instructions for My Medication Before Surgery</u>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    If you are feeling unwell, please contact your case manager to discuss your symptoms. If you are unwell on your surgery day, your surgery is likely to be cancelled. Refer to <u class="checklistLink" onclick="articleLinkClick(9, 1)">What to do if You Feel Unwell Before Surgery</u>
                </p>
            </td>
        </tr>
    </tbody>
</table>