<table class="23weeksBeforeMySurgery">
    <thead class="23weeksBeforeMySurgery">
        <tr class="23weeksBeforeMySurgery">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    2 – 3 Weeks Before My Surgery
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="23weeksBeforeMySurgery">
        <tr class="23weeksBeforeMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Get a blood test with my GP to check my iron levels.
                </p>
            </td>
            <td class="checklistSectionData" id="bloodTest">

            </td>
        </tr>
        <tr class="23weeksBeforeMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    I need to stop taking vitamin and mineral supplements
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Vitamins and herbal supplements can thin your blood and this will cause your surgery to be cancelled. These include but are not limited to, fish oil, krill oil, turmeric tablets. 
                </p>
            </td>
        </tr>
        <tr class="23weeksBeforeMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Check my list of medications to be stopped as instructed by my pharmacist. Especially <b><u>BLOOD THINNING</u></b> medication.
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Refer to <u class="checklistLink" onclick="checklistSectionClick({'id':'instructionsForMyMedicationBeforeMySurgery'})">Instructions for My Medication Before Surgery</u>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    If you are feeling unwell, please contact your case manager to discuss your symptoms. If you are unwell on your surgery day, your surgery is likely to be cancelled. Refer to <u class="checklistLink" onclick="articleLinkClick(9, 1)">What to do if You Feel Unwell Before Surgery</u>
                </p>
            </td>
        </tr>
    </tbody>
</table>