<table class="ifIAmHavingADayCaseProcedure">
    <thead class="ifIAmHavingADayCaseProcedure">
        <tr class="ifIAmHavingADayCaseProcedure">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    If I am Having a Day Case Procedure (Discharge same day as surgery)
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="ifIAmHavingADayCaseProcedure">
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    If you are going home the same day as your surgery and have had a general anaesthetic:
                    <ul>
                        <li>
                            You will need to organise a family member or friend to be able to be with you for the following 24 hours. If you <b><u>DO NOT</u></b> have a support person your <b><u>SURGERY WILL BE CANCELLED</u></b>.
                        </li>
                        <li>
                            Provide staff with the details of your support person prior to surgery.
                        </li>
                        <li>
                            Ensure your support person is aware that the hospital will be contacting them following your surgery.
                        </li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr class="ifIAmHavingADayCaseProcedure">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Support person details
                </p>
            </td>
            <td class="checklistSectionData" id="supportContactInfo">
                
            </td>
        </tr>
    </tbody>
</table>