<table class="instructionsForMyMedicationBeforeMySurgery">
    <thead class="instructionsForMyMedicationBeforeMySurgery">
        <tr class="instructionsForMyMedicationBeforeMySurgery">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    Instructions for My Medication Before Surgery	
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="instructionsForMyMedicationBeforeMySurgery" id="medicationInfo">
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Medications to STOP TEMPORARILY before surgery
                </p>
            </td>
        </tr>
        <tr class="instructionsForMyMedicationBeforeMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Name
                </p>
            </td>
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    When to stop
                </p>
            </td>
        </tr>
    <tr>
        <td></td>
        <td class="checklistSectionData" onclick="addMedication()">
            add
        </td>
    </tr>
    </tbody>
</table>