<table class="myAppointmentsBeforeSurgeryTable">
    <thead class="myAppointmentsBeforeSurgeryTable">
        <tr class="myAppointmentsBeforeSurgeryTable">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    My Appointments Before Surgery
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="myAppointmentsBeforeSurgeryTable">
        <tr class="myAppointmentsBeforeSurgeryTable">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Appointment with my doctor  
                </p>
            </td>
            <td class="checklistSectionData" id="appointmentWithMyDoctor">

            </td>
        </tr>
        <tr class="myAppointmentsBeforeSurgeryTable">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Preadmission clinic appointment
                </p>
            </td>
            <td class="checklistSectionData" id="preadmissionClinicAppointment">

            </td>
        </tr>
        <tr class="myAppointmentsBeforeSurgeryTable">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Anaesthetics review
                </p>
            </td>
            <td class="checklistSectionData" id="anaestheticsReview">

            </td>
        </tr>
        <tr class="myAppointmentsBeforeSurgeryTable">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Scans or tests
                </p>
            </td>
            <td class="checklistSectionData" id="scansOrTests">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    *Your case manager will advise which appointments are required before your surgery
                </p>
            </td>
        </tr>
    </tbody>
</table>