<table class="theNightBeforeAndMorningOfMySurgery">
    <thead class="theNightBeforeAndMorningOfMySurgery">
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <th colspan="2" class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    The Night Before & Morning of My Surgery
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="theNightBeforeAndMorningOfMySurgery">
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Time to arrive at the general admissions desk
                </p>
            </td>
            <td class="checklistSectionData" id="timeOfArrival">

            </td>
        </tr>
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Time to stop eating
                </p>
            </td>
            <td class="checklistSectionData" id="timeToStopEating">

            </td>
        </tr>
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Time to stop drinking
                </p>
            </td>
            <td class="checklistSectionData" id="timeToStopDrinking">

            </td>
        </tr>
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Medications not to be taken on the morning of surgery
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Please take your regular medication unless informed otherwise by the Doctor, Anaesthetist or Pharmacist. See below.
                </p>
            </td>
        </tr>
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    What to bring
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Refer to <u class="checklistLink" onclick="articleLinkClick(7, 1)">Getting Ready To Present for Your Surgery</u>
                </p>
            </td>
        </tr>
        <tr class="theNightBeforeAndMorningOfMySurgery">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    What to leave at home
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    Refer to <u class="checklistLink" onclick="articleLinkClick(7, 1)">Getting Ready To Present for Your Surgery</u>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Please fill out your patient registration form and give to staff at the general admissions desk                
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Please shower the night before and morning of your surgery prior to coming to the hospital
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    Do not wear make-up, moisturiser, deodorant, perfume, aftershave, nail polish or talc. If you have acrylic/gel nails – remove one on each hand. Refer to <u class="checklistLink" onclick="articleLinkClick(7, 1)">Getting Ready To Present for Your Surgery</u>
                </p>
            </td>
        </tr>
    </tbody>
</table>