<table class="thingsINeedToKnowBeforeIGoHome">
    <thead class="thingsINeedToKnowBeforeIGoHome">
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <th class="checklistSectionHeader">
                <h2 class="checklistSectionHeader">
                    Things to think about
                </h2>
            </th>
            <th class="checklistSectionHeader">    
                <h2 class="checklistSectionHeader">
                    What I need to know
                </h2>
            </th>
        </tr>
    </thead>
    <tbody class="thingsINeedToKnowBeforeIGoHome">
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My follow up appointment
                </p>
            </td>
            <td class="checklistSectionData" id="myFollowUpAppointment">

            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    What if something goes wrong following my surgery
                </p>
            </td>
            <td class="checklistSectionData" >
                <p>
                    If you have any signs of the following <b>contact 000</b> or your <b>local Emergency department</b>:
                    <ul>
                        <li>
                            Uncontrollable bleeding
                        </li>
                        <li>
                            Chest pain or tightness of the chest
                        </li>
                        <li>
                            An altered level of your consciousness/difficulty staying awake
                        </li>
                        <li>
                            Seizures/fits/sudden collapse or fall
                        </li>
                        <li>
                            Sudden onset of weakness or paralysis of the limbs or face
                        </li>
                        <li>
                            Difficulty in breathing
                        </li>
                    </ul>
                <br>
                    For any concerns refer to <u class="checklistLink" onclick="articleLinkClick(2, 2)">Your Pain Releif Medication Following Surgery</u>
                </p>
            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My pain medication
                </p>
            </td>
            <td class="checklistSectionData">
                <p>
                    After receiving your pain medication, please follow the instructions on the packet.
                    <br><br>
                    Please keep in mind that pain medication can make you constipated. Contact your local GP with any concerns.
                    <br><br>
                    Refer to <u class="checklistLink" onclick="articleLinkClick(2, 2)">Your Pain Releif Medication Following Surgery</u>
                </p>
            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My wound dressings
                </p>
            </td>
            <td class="checklistSectionData" id="myWoundDressings">
                
            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My diet
                </p>
            </td>
            <td class="checklistSectionData" id="myDiet">
                
            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My activity levels
                </p>
            </td>
            <td class="checklistSectionData" id="myActivityLevels">
                
            </td>
        </tr>
        <tr class="thingsINeedToKnowBeforeIGoHome">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    If you have any general enquires
                </p>
            </td>
            <td class="checklistSectionData" onclick="phone('0736468111')">
                <p>
                    <u class="checklistLink">RBWH Switchboard – 07 3646 8111</u> <!-- link this to contact us maybe-->
                </p>
            </td>
        </tr>
    </tbody>
</table>