<p class="articleBody">
Keeping fit and active before your surgery will help your recovery. Active people are known to have a reduced risk of complications both during and after surgery. It has also been shown that increasing your physical activity prior to surgery can reduce the time it takes you to return to activity and work post-operatively.
</p>

<p class="articleBody">
Don't hesitate to get moving today! Commence slowly and gradually build up your exercise.
</p>

<p class="articleBody">
Exercise doesn't need to be high intensity or something always done at the gym. It is more important to move your body in some way every day, by finding a range of activities that you enjoy and are more likely to commit to. Set a goal of starting with <b>at least 10-15 minutes each day</b>, with the aim of building up to <b>20-30 minutes or more each day</b> as you feel able.
</p>

<p class="articleBody">
To begin with, consider making some changes to your daily routine that can help increase your amount of <b>incidental exercise</b>:
</p>
<ul class="articleBody">
<li class="articleBody">
Take the stairs rather than the escalator or lift. 
</li>

<li class="articleBody">
Get off public transport 1 or 2 stops earlier and walk the rest of the way home or to work. 
</li>

<li class="articleBody">
Park the car further away from your destination and walk.
</li>

<li class="articleBody">
Consider walking or cycling for short journeys rather than using the car
</li>

<li class="articleBody">
Get up from your desk and walk around the office each hour of your work day. 
</li>

<li class="articleBody">
Consider meeting your friends for a walk or physical activity rather than a sit down catch up.
</li>
</ul>

<p class="articleBody">
The main aim of any <b>moderate intensity physical activity</b> is to get your body moving and increase your breathing and heart rate. Some activities to consider include:
</p>

<ul class="articleBody">
<li class="articleBody">
Walking
</li>

<li class="articleBody">
Swimming or Hydrotherapy
</li>

<li class="articleBody">
Cycling
</li>

<li class="articleBody">
Yoga
</li>

<li class="articleBody">
Pilates 
</li>

<li class="articleBody">
Tennis
</li>

<li class="articleBody">
Golf
</li>

<li class="articleBody">
Supervised Gym Classes
</li>
</ul>

<h1 class="articleBody">
Keeping it safe
</h1>

<p class="articleBody">
We recommend that you speak to your doctor for medical clearance before starting any new exercise regime. If you already experience severe joint pain, or it becomes significantly worse with exercise, consult your doctor or physiotherapist. 
</p>

<p class="articleBody">
For more information about increasing your activity and exercise, go to:
</p>

<ul class="articleBody">
<li class="articleBody">
Happy Healthy Campaign &nbsp www.healthier.qld.gov.au
</li>

<li class="articleBody">
Exercise and Sports Science Australia &nbsp www.essa.org.au
</li>

<li class="articleBody">
Australian Physiotherapy Association &nbsp www.exerciseright.com.au
</li>

<li class="articleBody">
Exercise Right	
</li>
</ul>