<h2 class="articleBody">
    If We Need to Chat with You
</h2>

<p class="articleBody">
    It is important to note that when we call you our phone number will be shown as 'External number', 'No caller ID', 'Unknown number', 'Private Number' or 'Caller ID blocked'. This is because our hospital uses large computerised telephone systems. In the days prior to your surgery please keep this in mind as we may need to contact you.
</p>

<p class="articleBody">
    It is important that you keep your contact details up to date. Please make sure that we have correct details on our system for your phone numbers, address, next of kin details and your general practitioner information.
</p>

<p class="articleBody">
    We have professional interpreters available if you need help to communicate in English. If you let our staff know, we can organise this for you.
</p>