<h1 class="checklists">
    Checklists
</h1>

<table class="surgeryDate">
    <tbody class="surgeryDate">
        <tr class="surgeryDate">
            <td class="checklistSectionSubHeader">
                <p class="checklistSectionSubHeader">
                    My surgery
                </p>
                
            </td>
            <td class="checklistSectionData"  id="surgeryDate">
                No data
            </td>
        </tr>
    </tbody>
</table>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="myAppointmentsBeforeMySurgery" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink">
            My appointments before my surgery
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="23weeksBeforeMySurgery" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink">
            2-3 weeks before surgery
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="1weekbeforeMySurgery" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink">
            1 week before surgery
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="theNightBeforeAndMorningOfMySurgery" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink"> <!--these titles should fit on one line but for some reason they don't on some browsers-->
            The night before and morning of my surgery
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="ifIAmHavingADayCaseProcedure" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink" style="top: 23%"> <!--these titles should fit on one line but for some reason they don't on some browsers-->
            If I am Having a Day Case Procedure<br>(Discharge same day as surgery)
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="instructionsForMyMedicationBeforeMySurgery" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink" style="top: 23%"> <!--these titles should fit on one line but for some reason they don't on some browsers-->
            Instructions for my medication<br>before my surgery
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

<div class="checklistSectionLinkContainer">
    <div class="checklistSectionLink" id="thingsINeedToKnowBeforeIGoHome" onclick="checklistSectionClick(this)">
        <div class="checklistSectionLinkIcon"></div>
        <h3 class="checklistSectionLink">
            Things I need to know before I go home
        </h3>
        <div class="checklistSectionLinkNextIcon">
            <img src="/icons/checklist_next.jpg" class="checklistSectionLinkNextIcon">
        </div>
    </div>
</div>

<hr class="checklists">

