<div class="contactSection" onclick="displayContactSection('switchboard')">
    <h2 class="contactus">
        RBWH Switchboard
    </h2>
    <p class="contactus">
        Our helpful switchboard operators will be able to forward your call to the appropriate staff members to assist with any of you queries.
    </p>
</div>

<hr class="contactus">

<div class="contactSection" onclick="displayContactSection('elective')">
    <h2 class="contactus">
        RBWH Elective Surgery Office
    </h2>
    <p class="contactus">
        The RBWH Elective Surgery Office team work closely with our case managers to guide our patients through their elective surgery journey. Our team may be able to help with your enquiries if you are unable to reach your case manager.
    </p>
</div>

<hr class="contactus">

<div class="contactSection" onclick="displayContactSection('managers')">
    <h2 class="contactus">
        RBWH Case Managers
    </h2>
    <p class="contactus">
        Our case managers are responsible for coordinating your journey from when you are placed on the surgical waitlist until you have your surgery.
    </p>
</div>

<hr class="contactus">

<div class="contactSection" onclick="displayContactSection('preadmission')">
    <h2 class="contactus">
        Preadmission Clinic
    </h2>
    <p class="contactus">
        You may require a pre-admission appointment, which is usually 2 – 6 weeks before your procedure. Here you will complete a thorough health assessment and be provided information and support about how to prepare and what to expect before and after your procedure. This may take place in person, over the phone or via video-conference.
    </p>
</div>

