<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My RBWH Surgical Pathway - Everything about your surgery</title>
    <meta name="author" content="Team Team C.H.E.F.">
    <!-- external style sheet -->
    <link rel="stylesheet" type="text/css" href="{{domain}}/normalisation.css"> <!-- {{domain}} is replaced by the web-server with its own domain name when the client is sent this file-->
    <link rel="stylesheet" type="text/css" href="{{domain}}/stylesheet.css">
    <!-- javascript files-->
    <script src="{{domain}}/load_content.js"></script>
    <script src="{{domain}}/misc_functions.js"></script>
    <script src="{{domain}}/article_functions.js"></script>
    <script src="{{domain}}/search_functions.js"></script>
    <script src="{{domain}}/contact_functions.js"></script>
    <script src="{{domain}}/user_functions.js"></script>
    <script src="{{domain}}/checklist_functions.js"></script>
	  <script src="{{domain}}/calendar_functions.js"></script>
  </head>
  <body>
    <!--  header. contains logo as well as header buttons when relevant -->
    <header>
      <!-- logo container and logo -->
      <div class="headerBar" id="titlebar">
        <img class="logo" src="{{domain}}/icons/rbwh.png">
        <div class="headerBarButton" id="searchButton" onclick="searchButtonClick()">
			<img src="{{domain}}/icons/search.png">
		</div>
        <div class="headerBarButton" id="userButton" onclick="userButtonCLick()">
			<img src="{{domain}}/icons/login.png">
		</div>
      </div>
      <!-- header buttons -->
      <div class="headerBar" id="navbar">
        <!-- optimise my health button -->
        <div class="navButton" id="optimisemyhealth" onclick="headerClick(this)">Optimise My <br>Health</div>
        <!-- before my surgery button -->
        <div class="navButton" id="beforemysurgery" onclick="headerClick(this)">Before My <br>Surgery</div>
        <!-- after my sugery button -->
        <div class="navButton" id="aftermysurgery" onclick="headerClick(this)">After My <br>Surgery</div>
		<!-- aboriginal and torres strait islander button -->
        <div class="navButton" id="aboriginalandtorresstraitislanders" onclick="headerClick(this)">Aboriginal and Torres Strait Islander</div>
      </div>
      <!-- header for articles and login pages-->
      <div class="headerBar" id="articleHeader">
        <div class="articleHeaderButton" id="articleBackButton" onclick="backButtonClick()">
          <img src="{{domain}}/icons/back.png">
        </div>
        <div class="articleHeaderButton" id="textUpButton" onclick="changeTextSize(1)">
          <img src="{{domain}}/icons/increase.png">
        </div>
        <div class="articleHeaderButton" id="textDownButton" onclick="changeTextSize(-1)">
          <img src="{{domain}}/icons/decrease.png">
        </div>
      </div>
      <!-- header used in contact sections-->
      <div class="headerBar" id="contactSectionHeader">
        <div class="contactHeaderButton" id="contactBackButton" onclick="contactBackClick()">
          <img src="{{domain}}/icons/back.png">
        </div>
      </div>
      <!--header for seach pages-->
      <div class="headerBar" id="searchBarHeader">
        <div class="searchHeaderButton" id="searchBackButton" onclick="backButtonClick()">
          <img src="{{domain}}/icons/back.png">
        </div>
        <div id="searchInputContainer">
          <input type="text" name="searchBar" id="searchBar" oninput="searchArticles(this.value)">
        </div>
        <div class="searchHeaderButton" id="searchInputClear" onclick="clearSearchBar()">
          <img src="{{domain}}/icons/cross.png">
        </div>
      </div>
    </header>
    <!-- header spacer. used to push page content downwards so that it doesn't get hidden by the header-->
    <div id="headerSpacer"> </div>

    <!--  contents of the page. this is main element that the javascript will be editing as is pastes relevant content into here,
          any and all text in the content page is for testing only as it will get erased though normal page operation-->
    <div id="content">
    </div>


    <!-- footer  spacer. used to push page content upwards so that it doesn't get hidden by the footer-->
    <div id="footerSpacer"> </div>
    <!-- footer. contains footer buttons that are the primary way of navigating in the app-->
    <footer>
      <!-- sugery button -->
      <div class="footerButton" id="surgery" onclick="footerClick(this)">
        <img src="{{domain}}/icons/tool.png" class="icon">
        <br>
        Surgery
      </div>
      <!-- checklists button -->
      <div class="footerButton" id="checklists" onclick="footerClick(this)">
        <img src="{{domain}}/icons/checklist.png" class="icon">
        <br>
        Checklists
      </div>
      <!-- about us button -->
      <div class="footerButton" id="aboutus" onclick="footerClick(this)">
        <img src="{{domain}}/icons/commerce-and-shopping.png" class="icon">
        <br>
        About Us
      </div>
      <!-- calender button -->
      <div class="footerButton" id="calendar" onclick="footerClick(this)">
        <img src="{{domain}}/icons/calendar.png" class="icon">
        <br>
        Calendar
      </div>
      <!-- contact us button -->
      <div class="footerButton" id="contactus" onclick="footerClick(this)">
        <img src="{{domain}}/icons/contact-us.png" class="icon">
        <br>
        Contact Us
      </div>
    </footer>
</body>
</html>
