/*############### General Stuff ###############
/*
  removes borders/margins from all elements
  sets background colour and default font size
*/
html, body{
  margin:0px;
  background-color: white;
  font-size:4vw;
}
p{
  margin:0px;
}
table, th, td {
  border: 0px;
}
img{
  width: 100%;;
}
/*
  colour and size of dividers
*/
hr{
  margin: 0px;
  color:lightgrey;
}
#content{
  font-size: 3.5vw;
}


/*############## Header Stuff ##################
/*
  position and size of header
*/
header {
  z-index: 100;
  position:fixed;
  top:0px;
  padding-bottom: 25%;
  width: 100%;
  pointer-events: none;
}
/*
  sits under header and forces text downwards to
  make scrolling possible, matches size of header
*/
#headerSpacer{
  width:100%;
  padding-bottom: 25%;
}
/*
  general apsects of all header stuff.
  position:absolute; is the important one here.
*/
.headerBar{
  position:absolute;
  width:100%;
  pointer-events: visible;
}
/*
  size and colour of title bar (contains logo)
*/
#titlebar{
  top:0px;
  height:55%;
  background-color:#87CFEB;
}
/*
  size of header button container.
  colour is black for if a black line is wanted
  between buttons (reduce size of buttons to get
  this)
*/
#navbar{
  bottom:0px;
  height:45%;
  background-color:black;
}
/*
  general aspects of header buttons.
  position:absolute; is important. also sets font
  size/position
*/
.navButton{
  position:absolute;
  height:100%;
  background-color:lightgrey;
  text-align:center;
  font-size:3vw;
}
/*
  height and colour of the header the is shown when
  an article it being read. hidden by default
*/
#articleHeader{
  visibility: hidden;
  background-color: #87cfebde;
  position: absolute;
  width: 100%;
  top:0;
  bottom: 50%;
}
/*
  general aspects of the article header buttons
  position:absolute; is the important one
*/
.articleHeaderButton{
  position: absolute;
  top:0;
  bottom: 0;
}
/*
  size and position of the back button
*/
#articleBackButton{
  left: 0;
  right:85%;
  margin: 2%;
  color:grey;
}
/*
  size and position of the text-size-up button
*/
#textUpButton{
  left: 85%;
  right:0%;
  margin: 2%;
  color:grey;
}
/*
  size and postion of the text-size-down button
*/
#textDownButton{
  left: 70%;
  right:15%;
  margin: 3%;
  color:grey;
}
/*
  size and positions of header buttons.
  color is for indicating the selected button:
  purple is selected, black is unselected.
  optimisemyhealth is selected by default
*/
#optimisemyhealth{
  left:0%;
  width:25%;
  color:purple;
  }
#beforemysurgery{
  left:25%;
  width:25%;
  color:black;
}
#aftermysurgery{
  left:50%;
  width:25%;
  color:black;
}
#aboriginalandtorresstraitislanders{
  left:75%;
  width:25%;
  color:black;
}
/*
  size and position of logo
*/
.logo{
  margin-top:1%;
  margin-left:1%;
  width: initial;
  height:78%;
}
/*
  general atributes of buttons in header bar. mostly just size
*/
.headerBarButton{
  position: absolute;
  height: 100%;
  width:13.75%;
  top:0%;
}

/*
  position of search button
*/
#searchButton{
  right:13.75%;
}
/*
  position of user login/out button
*/
#userButton{
  right:0%;
}

/*############### Footer Stuff ################*/
/*
  position, size and background colour of footer
*/
footer {
  z-index: 100;
  position:fixed;
  bottom:0px;
  padding-top: 15%;
  width: 100%;
  background: linear-gradient(to right, rgb(180,149,237), #5D8DD4, #5D8DD4, cornflowerblue);
}
/*
  sits under footer and forces text upwards to
  make scrolling possible, matches size of footer
*/
#footerSpacer{
  width:100%;
  padding-bottom: 15%;
}
/*
  set general aspects for the footer buttons
  position:absolute is the important one here
*/
.footerButton{
  position:absolute;
  text-align: center;
  font-size:3.5vw;
  color:white;
}
/*
  positions for each of the 5 footer buttons.
  background darkens the background colour of
  each of the unselected buttons by modifying
  the alpha channel. the surgery button is
  selected by default (0 alpha).
*/
#surgery{
  top:0px;
  left:0%;
  height:100%;
  width:20%;
  background: rgba(0, 0, 0, 0);
}
#checklists{
  top:0px;
  left:20%;
  height:100%;
  width:20%;
  background: rgba(0, 0, 0, 0.3);
}
#aboutus{
  top:0px;
  left:40%;
  height:100%;
  width:20%;
  background: rgba(0, 0, 0, 0.3);
}
#calendar{
  top:0px;
  left:60%;
  height:100%;
  width:20%;
  background: rgba(0, 0, 0, 0.3);
}
#contactus{
  top:0px;
  left:80%;
  height:100%;
  width:20%;
  background: rgba(0, 0, 0, 0.3);
}
/*
  size and position of container that holds
  the footer button icons.
  helps with keeping a correct aspect ratio.
*/
.iconContainer{
  width:50%;
  height:0px;
  margin:0px;
  padding-bottom:100%;
}
/*
  size of icons for footer buttons
*/
.icon{
  margin-top: 7%;
  height:45%;
  width:45%;
}


/*######### stuff for article links ##########*/
/*
  set the size and position for the container for
  each full article link
*/
.articleLink{
  position:relative;
  width:94%;
  padding-bottom:35%;
  margin:3%;
}
/*
  size and position of the thumbnail container
*/
.articleLinkThumbnailContainer{
  position:absolute;
  left:0%;
  width:50%;
  height:100%
}
/*
  size and position of thumbnail
*/
.articleLinkThumbnail{
  height:100%;
  position:absolute;
  object-fit: cover;
}
/*
  size an position of the container for the
  title and date of the article
*/
.articleLinkTitleContainer{
  position:absolute;
  left:52%;
  width:46%;
  top:5%;
  height:90%;
}
/*
  font size for the article title
*/
.articleLinkTitle{
  font-size:5vw;
  margin:0;
}
/*
  font size for the article date
*/
.articleLinkDate{
  font-size:3.3vw;
  margin:0;
  color: darkblue;
}

/*############ stuff for articles ############*/
/*
  contains the title and date of the article
*/
#articleTop{
  position:relative;
  width: 100%;
}
/*
  artcile title size and positon
*/
#articleTitle{
  text-align: center;
  font-size: 7vw;
}
/*
  article date size and position
*/
#articleDate{
  text-align: center;
  font-size: 3.5vw;
  color: darkblue;
}
/*
  sets how much of the screen the article
  devider takes up
*/
#articleDivider{
  margin: 0px 25% 0px 25%;
}
/*
  size and borders of article body
*/
#articleBodyContainer{
  margin: 6% 3%;
}

/*################# contact us page #################*/

/*
  align heading center
*/
h1.contactus{
  text-align: center;
  text-decoration: underline;
}

/*
  margin around entire page to keep text away from the edge of the screen
*/
.contactSection {
  margin: 3%;
}

/*
  style used for the titles of each section
*/
h2.contactus {
  font-size: 4vw;
  color: royalblue;
}

/*################# contact us sections #################*/

/*
  heading style for each section
*/
h1.contactusSection{
  text-align: center;
  text-decoration: underline;
}

/*
  style for the heading of each subsection
*/
h2.contactusSection {
  text-align: center;
  font-size: 6vw;
  margin-top: 8%;
  margin-bottom: 3%;
}

/*
  style used for labeling of "Contact Number"/"Email"
*/
h3.contactusSection {
  text-align: center;
  font-weight: normal;
  margin-top: 4%;
  margin-bottom: 2%;
}

/*
  style for the clickable phone/email buttons
*/
button.contactusSection {
  color: white;
  width: 80%;
  height: 5%;
  margin: 0% 10%;
  background-color: midnightblue;
  border: none;
  border-radius: 5px;
  padding: 3% 0%;
  font-size: 4vw;
  margin-bottom: 3%;
}

/*
  height and colour of the header the is shown when a contact
  section is being viewed. hidden by default
*/
#contactSectionHeader{
  visibility: hidden;
  background-color: #87cfebde;
  position: absolute;
  width: 100%;
  top:0;
  bottom: 50%;
}

/*
  general aspects of the contact header buttons
  position:absolute; is the important one
*/
.contactHeaderButton{
  position: absolute;
  top:0;
  bottom: 0;
}
/*
  size and position of the back button
*/
#contactBackButton{
  left: 0;
  right:85%;
  margin: 2%;
}

/*################# about us page #################*/

/*
  margins for the about us page
*/
#aboutusContainer{
  margin: 6% 3%;
}

/*
  align heading center
*/
h1.aboutusBody{
  text-align: center;
}

/*################# log in page #################*/
/*
  div for holding all userpage elements
*/
#userpageContainer {
  text-align: center;
  position: relative;
  width: 100%;
}

/*
  userpage title size
*/
h1.userpage {
  font-size: 300%;
}

/*
  styling for all divs contatining test entry boxes
*/
div.loginEntry {
  width: 50%;
  height: 30%;
  margin: 5% 25%;
  font-size: 130%;
  position: relative;
}

/*
  icon images in user entry divs
*/
img.loginEntry {
  position: absolute;
  height: 100%;
  object-fit: scale-down;
  top: 0%;
  left: -48%;
}

/*
  textboxes in user entry divs
*/
input.loginEntry {
  width: 90%;
  position: relative;
  left: 3.5%;
}

/*
  submit button for user pages
*/
#userpageButton{
  position: relative;
  width:50%;
  height: 30%;
  margin: 0% 25%;
  font-size: 130%;
}

/*
  links to swap between login and signup
*/
#link{
  color: blue;
  text-decoration: underline;
  margin-top: 2%;
}

/*
  error message (wrong password,
*/
#errorMessage{
  color: red;
  margin-top: 2%;
}

/*################# search page header #################*/

/*
  containing div for the search bar
*/
#searchBarHeader{
  visibility: hidden;
  background-color: #87cfebde;
  position: absolute;
  width: 100%;
  top:0;
  bottom: 50%;
}

/*
  buttons on the search bar header (back and clear buttons)
*/
.searchHeaderButton{
  position: absolute;
  top:0;
  bottom: 0;
}

/*
  position of back button to return to previous screen
*/
#searchBackButton{
  left: 0;
  right: 85%;
  margin: 2%;
}

/*
  position of button to clear search bar
*/
#searchInputClear{
  width:13.75%;
  right: 0%;
}

/*
  container for search bar text box
  controls size and position
*/
#searchInputContainer {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 17%;
  right: 17%;
}

/*
  search bar text box
*/
#searchBar {
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
/*################# checklists #################*/

/*
  position for checklist page title
*/
h1.checklists{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*
  div used to keep checklists sections to a constant aspect ratio
*/
div.checklistSectionLinkContainer{
  position: relative;
  width: 100%;
  padding-bottom:15%;
}

/*
  fill div.checklistSectionLinkContainer
*/
div.checklistSectionLink {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*
  size and position of text for section links
*/
h3.checklistSectionLink {
  position: absolute;
  margin: 0;
  left: 11%;
  top: 35%;
  font-size: 3.6vw;
  color: darkblue;
}

/*
  size, position and border for square icon next to checklist section links
*/
div.checklistSectionLinkIcon {
  border-style: solid;
  border-color: darkblue;
  border-width: 2px;
  position: absolute;
  top: 26.67%;
  left: 1.5%;
  bottom: 26.67%;
  right: 91.5%;
}

/*
  size and position of right arrow icon to the right of the checklist section links
*/
div.checklistSectionLinkNextIcon {
  position: absolute;
  top: 26.67%;
  right: 1.5%;
  bottom: 26.67%;
  left: 91.5%;
}

/*
  Arrow icon to the right of the checklist section links.
  Makes sure this icon scales to fit containing div.
*/
img.checklistSectionLinkNextIcon {
  width: 100%;
  object-fit: scale-down;
}

/*
  colour of border between checklist sections
*/
hr.checklists {
  border-color: darkblue;
}

/*
  table displaying surgery date on main surgery page
*/
table.surgeryDate {
  width: 100%;
  margin-bottom: 5%;
}

/*################# checklist sections #################*/


/*
  header cells of checklist sections - colour and border
*/
th.checklistSectionHeader {
  background-color: aqua;
  border-radius: 15px;
  border-left: 3px  skyblue solid;
  border-right: 3px skyblue solid;
  border-top:1px skyblue dotted;
  border-bottom: 1px skyblue dotted;
}

/*
  sub header cells of checklist sections - colour border and size
  position type is to allow for easy positioning of child elements
*/
td.checklistSectionSubHeader {
  background-color: skyblue;
  position: relative;
  width: 60%;
  border-radius: 15px;
}

/*
  data cells of checklist sections - border style
  position type is to allow for easy positioning of child elements
*/
td.checklistSectionData {
  position: relative;
  border-style: solid;
  border-width: 0.4vw;
  border-radius: 15px;
}

/*
  size and position of table
*/
table.myAppointmentsBeforeSurgeryTable{
  /* width: 90%; <====================================================================*/
  position: relative;
  /* margin:8%; */
}

/*
  border on paragraphs in sub headers to prevent tounching of curved corneres
*/
p.checklistSectionSubHeader{
  margin: 9px;
}

/*
  colour of links
*/
.checklistLink{
  color: blue;
}


/*################# calendar #################*/

.container {
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: center;
  align-items: center;

}

.calendarstyle{
	width: 25rem;
	height: 40rem;
}

.month{
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem;
	text-align: center;
  background-color: #43659a;
}

.month i{
	font-size: 2.5rem;
	cursor: pointer;
  color: #ffffff;
}

.month h1{
	 font-size: 3rem;
	 letter-spacing: 0.2rem;
	 margin-bottom: 1rem;
   color: #ffffff;
}

.month p{
	font-size: 1.6rem;
  color: #ffffff;

}

.weekdays{
	width: 99%;
	height: 3rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
}

.weekdays div {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	width: calc(23.2rem/7);
	display: flex;
	justify-content: center;
	align-items: center;
}
 .days {
   height:50%;
	 width: 99%;
	 display: flex;
	 flex-wrap: wrap;
	 padding: 0.2rem;
 }

 .days div{
	 font-size: 1.4rem;
	 margin: 0.3rem;
	 width: calc(19.2rem/7);
	 height: 4rem;
	 display: flex;
	 justify-content: center;
	 align-items: center;
   transition: background-color 0.2s;
 }
 .prev-date,.next-date{
	 opacity: 0.5;
 }

.days div:hover{
	border: 0.1rem solid #7c68a5;
	cursor: pointer;
}
.invisible{
    opacity: 0 !important;
    cursor: default !important;
    visibility: collapse;
    display: none;
}
.today{
  background-color: #43659a;
}
