<!-- probs don't need a second title
    <h1 class="articleBody"> 
Nourishing Your Body Before Surgery 
</h1>
-->

<p class="articleBody">Good nutrition is important for health. It is also very important in the time leading up to your surgery. Your body is best prepared to deal with the stress of surgery when you eat a healthy, balanced diet. It may also help to make the recovery process faster.
</p>

<p class="articleBody">
Poor nutrition can lead to poor outcomes after surgery. Patients who do not eat well are more likely to have problems after surgery. Your wounds may take longer to heal, you may be more prone to infections and have a longer stay in hospital.
</p>

<h2 class="articleBody">
What Does a Healthy Diet Look Like?
</h2>

<p class="articleBody">
Eating a wide variety of healthy foods is important to ensure your body gets all the nutrients it needs. This includes protein, vitamins and minerals. It is also important to drink plenty of water and avoid drinking too much alcohol. Try to drink no more than 2 alcoholic drinks a day and aim for 2 alcohol-free days per week.
</p>

<p class="articleBody">
Older people should eat nutritious foods and keep active to maintain muscle strength. This is important both before and after surgery. Staying in a healthy weight range is also important. Speak with your local doctor about seeing a dietitian if you have concerns about your weight.
</p>

<p class="articleBody">
Being overweight increases the chance of chronic disease and surgical complications. Obesity can cause difficulties before, during and after surgery. Your surgeon might ask that you lose weight before surgery. This could include the use of meal replacement products such as Optifast®. Talk to your local doctor about monitoring and supporting you with this. A visit with a local dietitian may further assist you achieve your weight target.
</p>

<h2 class="articleBody">
What is protein?
</h2>

<p class="articleBody">
Your body uses protein for growth and repair of body tissues and muscles. Protein foods include:
<ul class="articleBody">
<li class="articleBody">
meat,fish and chicken
</li>

<li class="articleBody">
eggs
</li>

<li class="articleBody">
dairy products
</li>

<li class="articleBody">
soy products, legumes and nuts
</li>

<li class="articleBody">
high protein nutrition supplements.
</li>
</ul>
</p>

<p class="articleBody">
To increase protein and help your recovery, try the following:
<ul class="articleBody">
<li class="articleBody">
Include protein foods as part of every meal and snack
</li>

<li class="articleBody">
Eat three (3) meals and three (3) nourishing snacks each day
</li>

<li class="articleBody">
If your appetite is poor; serve meals on a small plate and eat every 2-3 hours
</li>

<li class="articleBody">
Eat with family & friends or in pleasant surroundings
</li>

<li class="articleBody">
Keep ready-to-eat meals and snacks handy for times when you don't feel like preparing food 
</li>

<li class="articleBody">
If you are not hungry at meal times, try to have a nourishing milk drink or snack for example cheese and crackers. Not eating may make you feel sick in the stomach
</li>

<li class="articleBody">
Avoid filling up on low calorie foods (e.g. tea, coffee, water, vegetable juices, diet drinks or clear soups)
</li>
</ul>
</p>

<h2 class="articleBody">
What if I'm having trouble eating?
</h2>

<p class="articleBody">
Poor food intake can lead to problems after surgery. If you are having difficulty eating due to a poor appetite, or have recently lost weight without trying, please talk to your local doctor. A visit with a dietitian might help you. If you are underweight, increasing both protein and total energy (kilojoules or calories) may help you gain weight.
</p>

<p class="articleBody">
Eat healthy food and drinks after surgery to help your wound heal and to maintain muscle strength.
</br>For more information visit Dietitians Association Australia — www.daa.asn.au
</p>