<h2 class="articleBody">
What is the Patient Travel Subsidy Scheme (PTSS)?
</h2>

<p class="articleBody">
The Scheme provides financial support for patients to get specialist medical treatment when the service is not available within 50km of the patient's closest public hospital or public health facility. Eligible patients can apply for travel and/or accommodation subsidies to help with the costs of getting to and from the closest public hospital or public health facility that provides the specialist medical treatment. Patients who need help when travelling can also apply for a patient escort to travel with them.
</p>

<p class="articleBody">
The PTSS does not cover the full costs of travelling for specialist medical treatment. Any costs incurred in addition to approved subsidies are at the patient's expense.
</p>

<h2 class="articleBody">
Am I eligible for PTSS?
</h2>

<p class="articleBody">
Patients must be a Queensland resident and be eligible for Medicare to receive PTSS subsidies. They must also have a valid referral for an approved PTSS specialty, that is not available within 50km of their nearest public hospital or health facility.
</p>

<h2 class="articleBody">
What subsidies are available?
</h2>

<p class="articleBody">
<b>Travel and accommodation subsidies are available for eligible patients and their patient escort. </b>Patients should apply for PTSS as early as possible prior to travel. Eligible patients can submit one retrospective application for assessment for travel undertaken in the last 12 months. 
</p>

<p class="articleBody">
<b>The approved travel subsidy</b> is for the mode of transport that is decided by using the most clinically appropriate and cost-effective mode of transport available and is calculated using the rates in the table below.
</p>

<table border="1" >
<tr>
<td><b>Mode of transport</b></td>
<td><b>Subsidy amount</b></td>
</tr>
<tr>
<td>Commercial-air, bus, ferry or rail</td>
<td>Fully subsidised payment*</td>
</tr>
<tr>
<td>Private car (driving)</td>
<td>A rate of $0.30 per kilometre, from the street address of the public hospital or public health facility closest to the patient’s permanent address, to the street address of the closest public treatment facility.</td>
</tr>
<tr>
<th colspan="2">* equal to the lowest economy rate (excluding GST)</th>
</tr>
</table>

<p class="articleBody">
<b>The accommodation subsidy</b> provides financial support for accommodation costs for as long as the patient is medically required to be away from home and is calculated using the rates below:
</p>

<table border="1">
<tr>
<td><b>Type of accommodation</b></td>
<td><b>Subsidy amount*per approved person</b></td>
</tr>
<tr>
<td>Commercial accommodation</td>
<td>Up to $60 per night</td>
</tr>
<tr>
<td>Private accommodation</td>
<td>$10 per night</td>
</tr>
</table>

<p class="articleBody">
<b>Note: </b>Patients and patient escorts must pay for the first four nights of accommodation each financial year unless the patient holds a PTSS eligible concession card or is under 18 years of age. The accommodation subsidy does not apply to any nights the patient spends in hospital. Patient escorts may still be eligible during this time.
</p>