<h2 class="articleBody">
    What to Bring with you
</h2>

<ul class="articleBody">
    <li class="articleBody">
        ALL of your regular medications including puffers, vitamins, supplements and over-the counter medicines.
    </li>
    <li class="articleBody">
        Pyjamas (Hospital does not provide) / dressing gown / toiletries / tissues / flat comfortable shoes / supportive slippers (no scuffs or thongs).
    </li>
    <li class="articleBody">
        Glasses / hearing aids / walking aids / CPAP or other personal aids.
    </li>
    <li class="articleBody">
        Any X-Rays / Scans. It is your responsibility to take your private X-Rays / Scans home.
    </li>
    <li class="articleBody">
        Medicare card, healthcare card and pension card.
    </li>
    <li class="articleBody">
        A copy of your Advanced Health Directive or Power of Attorney details (if you have these).
    </li>
    <li class="articleBody">
        Bag limit: One hand held bag & one overnight bag - Maximum weight 10kg.
    </li>
</ul>

<h2 class="articleBody">
    What Not to Bring with you
</h2>
<ul class="articleBody">
    <li class="articleBody">
        DO NOT BRING large amounts of money or valuables.
    </li>
    <li class="articleBody">
        Any electrical item brought into hospital must be tested and tagged by a qualified electrician (this is your responsibility) or have batteries. Mobile phone chargers do not require testing.
    </li>
    <li class="articleBody">
        Alcohol or illegal drugs.
    </li>
    
</ul>

<h2 class="articleBody">
    Give your Case Manager a Phone Call if
</h2>

<ul class="articleBody">
    <li class="articleBody">
        If you are feeling unwell, ill or have changes to your skin condition, your surgery will be cancelled.
    </li>
    <li class="articleBody">
        If you are no longer able to attend your surgery, please contact your case manager to let them know.
    </li>
   
    
</ul>


<h2 class="articleBody">
    It is recommended that you
</h2>
<ul class="articleBody">
    <li class="articleBody">
        Stop smoking now.
    </li>
    <li class="articleBody">
        Do not drink any alcohol for at least 24 hours before your procedure.
    </li>
    <li class="articleBody">
        Please inform the medical staff if you require a Medical Certificate, Workcover form signed or require Patient Travel Subsidy Scheme Forms completed and any other forms that need to be completed by your doctor.
    </li>
    
</ul>


<h2 class="articleBody">
    Preparation: The Night Before Surgery
</h2>

<ul class="articleBody">
    <li class="articleBody">
        It is important that you wash your whole body and hair with soap to help reduce the number of bacteria and germs on your skin prior to surgery.
    </li>
    <li class="articleBody">
        Please take your regular medication unless informed otherwise by the Doctor, Anaesthetist or Pharmacist.
    </li>
   
    
</ul>

<h2 class="articleBody">
    Preparation: On the Day of Surgery
</h2>

<table class="articleBody">
    <tr class="articleBody">
        <td class="articleBody">
            <h2 class="articleBody">
                DO NOT:
            </h2>
        </td>
        <td class="articleBody">
            <h2 class="articleBody">
                DO:
            </h2>
        </td>
    </tr>
    <tr class="articleBody">
        <td class="articleBody">
            
            <ul class="articleBody">
                <li class="articleBody">
                     Use lotions, creams, powders, perfume, aftershave or deodorants.
                </li>
                <p class="articleBody">
                These applications can make it difficult for staff to accurately monitor your skin. 
            </p>
                
                <li class="articleBody">
                     Wear lipstick, make-up, nail polish or acrylic nails.
                </li>
                <p class="articleBody">
                Fake nails can harbour bacteria and make-up makes monitoring of skin and lips difficult. 
            </p>
                
                <li class="articleBody">
                     Use hair spray or hair gel as they can be flammable.
                </li>
                <li class="articleBody">
                    Shave below the neck.
                </li>
                <p class="articleBody">
                Shaving or waxing can cause cuts and abrasions which can lead to infection.
            </p>
                
                
            </ul>
           
        </td>
        <td class="articleBody">
            <ul class="articleBody">
                <li class="articleBody">
                     Shower before you leave home.
                </li>
                <li class="articleBody">
                    Please take your regular medication unless informed otherwise by the Doctor, Anaesthetist or Pharmacist.
                </li>
                
            </ul>
        </td>
    </tr>
</table>



