<h2>
Who may require pre-operative admission?
</h2>

<p>
There are times that patients may be required to be admitted to hospital before their surgery due to a clinical requirement.
</p>

<p>
Conditions that may require early admission, but not limited to:
</p>

<ul>
<li>
Type 1 Diabetes
</li>

<li>
Certain cardiac conditions
</li>

<li>
Respiratory disorders
</li>

<li>
Bleeding disorders
</li>

<li>
Emergent needs
</li>
</ul>

<p>
If you have any questions and concerns regarding your health and/or are unsure if you meet criteria, contact your case manager for further assistance. 
</p>

<h2>
Accommodation
</h2>

<p>
If you require accommodation prior to your hospital admission, there are multiple facilities that are close to the RBWH. Accommodation may also be subsidised by your local travel office. 
</p>

<h2>
Transport
</h2>

<p>
To assist you in seeing if you are eligible for transport assistance, speak to your general practitioner and/or case manager to assist you with further information. Queensland Ambulance Service (QAS) and community transport can offer a variety services to get you to the RBWH and home again. 
</p>