<!--Your Pre-admission clinic appointment-->
<h2 class="articleBody">
    Your Pre-admission clinic appointment
</h2>

<p class="articleBody">
    Before surgery most patients are required to attend a pre-admission appointment. The aim of this appointment is to make sure you are ready for surgery by completing all required tests and reviews by our multidisciplinary team. 
</p>

<p class="articleBody">
    As this clinic is very comprehensive, you need to allow 3-4 hours for attendance. This may vary depending on the type of surgery you are having, and the extent of tests required. You may also wish to bring a family member or support person with you to this appointment. It is a good idea to think about any questions you may have in advance so that you leave the meeting feeling informed.
</p>

<p class="articleBody">
    During your appointment you may see:
    <ul class="articleBody">
        <li class="articleBody">
            Nurse - to discuss your general health and home supports, record your vital signs (blood pressure, pulse etc) and help with general concerns or queries
        </li>
        <li class="articleBody">
            Anaesthetist - to discuss the anaesthetic process, what to expect, concerns or queries
        </li>
        <li class="articleBody">
            Pharmacist - to discuss your current medication regime and what you should do with your medicines prior to surgery
        </li>
        <li class="articleBody">
            Doctor - to discuss the operation, what to expect, your stay in hospital, concerns or queries 
        </li>
    </ul>
</p>

<!--Medications before surgery-->
<h2 class="articleBody">
    Medications before surgery
</h2>

<p class="articleBody">
    Between the doctor and the pharmacist at your pre-admission clinic appointment, a detailed history of the medications that you take will be recorded, including any prescription, over-the-counter medicines, herbal medicines, and any other medications prescribed by your general practitioner. 
</p>

<p class="articleBody">
    It is <b class="articleBody" style="color:red;">very important</b> that you bring the following to your pre-admission clinic appointment:
    <ul class="articleBody">
        <li class="articleBody">
            All your medications in the original packaging, both prescription and non-prescription. This includes medications from pharmacy, supermarket or health food shop and herbal remedies 
        </li>
        <li class="articleBody">
            Prescriptions from your general practitioner (GP) or specialists 
        </li>
        <li class="articleBody">
            Any webster/blister packs or medication rolls
        </li>
        <li class="articleBody">
            A list of medicines from your GP or community pharmacy 
        </li>
        <li class="articleBody">
            A list of any allergies, bad reactions or side effects you have experienced with any medications
        </li>
    </ul>
</p>

<p class="articleBody">
    Other important information to bring with you include: 
    <ul class="articleBody">
        <li class="articleBody">
            Recent blood tests results (completed outside of Queensland Health)
        </li>
        <li class="articleBody">
            Any contact details of your private specialist doctors 
        </li>
        <li class="articleBody">
            Any Pacemaker or Defibrillator information and any recent check reports or letters from your Cardiologist
        </li>
        <li class="articleBody">
            If you use hearing aids or glasses, please bring them with you.
        </li>
    </ul>
</p>

<p class="articleBody">
    Your Pre-admission clinic pharmacist:
    <ol>
        <li class="articleBody">
            Will enter all your medication related information into your electronic record, and produce a medication list that highlights any medication changes required before surgery
        </li>
        <li class="articleBody">
            Advise which medications you need to stop and when, and which medications you should continue taking before the surgery. It is important that you follow the advice provided by the pharmacist or doctor exactly, as failing to stop certain medications <b class="articleBody" style="color:red;">may result in your surgery being cancelled</b>
        </li>
        <li class="articleBody">
            Advise you how to manage your usual morning medications on the morning of the operation, even if you are fasting.
        </li>
    </ol>
</p>