<p class="articleBody">
If you would like assistance to stop or reduce the amount of alcohol 
or illicit drugs or the overuse of other substances or medicines of dependence, the Metro North Alcohol and Drug Service may be able to help you. Ceasing or reducing the use of unnecessary substances prior to admission may be beneficial to your treatment and health outcomes. The Alcohol and Drug Service can be contacted on 1800 177 833
</p class="articleBody">

<p class="articleBody">
For the heath of everyone on the premises, at the RBWH there is no smoking permitted on hospital grounds by patients, visitors or staff. If you are a smoker, we encourage you to cease smoking immediately for the benefit of your own health. 
</p>

<p class="articleBody"> 
Stopping smoking will positively affect your post-surgery recovery:
<ul class="articleBody">
<li class="articleBody">
Decrease the risk of lung and wound infections 
</li>

<li class="articleBody">
Help your body to heal wounds quicker and more effectively
</li>

<li class="articleBody">
Smelling cigarette smoke can make you feel ill after an anaesthetic, please ask your visitors not to smoke.
</li>
</ul>
</p>

<p class="articleBody">
Please speak with your general practitioner about the available options to support your decision to quit. There are medications, available including nicotine patches, gums, lozenges and sprays. 
To ensure these medications work correctly for you, please seek advice from your general practitioner. During your hospital stay we can prescribe nicotine replacement medication to help with cravings.
</p>

<p class="articleBody">
Regular consumption of alcohol has the ability to cause bleeding during surgery and affect your recovery from surgery, so it is important that you inform your medical team. 
These risks are increased when more than two alcoholic drinks are consumed each day.
</p>

<p class="articleBody">
It is very important that you inform your medical team if you use illicit drugs. Illicit drugs can affect your anaesthesia during surgery and your recovery afterwards. Illicit drugs can change the way your body responds to pain medicines after surgery. At the RBWH we provide a Consultation-Liaison (CL) Service to inpatients. The role of the CL service is to assist patients and their treating teams to manage alcohol and other drug issues during their inpatient stay.
</p>

<p class="articleBody">
We are a non-judgemental service that works with your choices and decisions. All our services are free of charge and confidential. We provide a number of services to support our patients:
<ul class="articleBody">
<li class="articleBody">
General information and advice
</li>

<li class="articleBody">
Counselling (available by telephone and in person)
</li>

<li class="articleBody">
Group programs
</li>

<li class="articleBody">
Detox (also known as withdrawal management)
</li>

<li class="articleBody">
Opiate replacement therapy (ORT)
</li>
</ul>
</p>

<p class="articleBody">
<b>Important Phone Numbers to Help You:</b>
</p>

<p class="articleBody">
Alcohol and Drug: 1800 177 833
Information: www.adis.health. qld.gov.au
Service (ADIS)
<b>*ADIS is a Queensland Statewide 24/7 confidential telephone counselling, support and referral service for anyone experiencing issues with alcohol and other drugs</b>
</br>Quitline 	13 QUIT (13 78 48)
</p>
