<h1 class="contactusSection">
    RBWH Elective Surgery Office
</h1>

<h3 class="contactusSection">
    Contact Number:
</h3>

<button class="contactusSection" onclick="phone('0736461196')">(07) 3646 1196</button>

<h3 class="contactusSection">
    Email:
</h3>

<button class="contactusSection" onclick="email('RBWH_Elective_Surgery@health.qld.gov.au')">RBWH_Elective_Surgery@health.qld.gov.au</button>