<h1 class="contactusSection">
    RBWH Case Managers
</h1>

<hr class="contactusSection">


<h2 class="contactusSection">
    Breast Health:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736461975')">(07) 3646 1975</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Breast_Health_Service@health.qld.gov.au')">RBWH-Breast_Health_Service@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Dermatology/Skin:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736474462')">(07) 3647 4462</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-MPU-CaseManager@health.qld.gov.au')">RBWH-MPU-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Ear, Nose & Throat:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736463147')">(07) 3646 3147</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-ENT-CaseManager@health.qld.gov.au')">RBWH-ENT-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Gynaecology & Obstetrics:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736462391')">(07) 3646 2392</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Elective_Admissions_Coordinator_WNBS@health.qld.gov.au')">RBWH-Elective_Admissions_Coordinator<br>_WNBS@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Gynaecology Oncology:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736462391')">(07) 3646 2391</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-GynaeOncology@health.qld.gov.au')">RBWH-GynaeOncology@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Maxillofacial:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736461450')">(07) 3646 1450</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Maxillofacial-CaseManager@health.qld.gov.au')">RBWH-Maxillofacial-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Neurosurgery:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736464180')">(07) 3646 4180</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Neurosurgery-CaseManager@health.qld.gov.au')">RBWH-Neurosurgery-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Ophthalmology:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736467823')">(07) 3646 7823</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Ophthalmology-CaseManager@health.qld.gov.au')">RBWH-Ophthalmology-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Orthopaedics:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736463141')">(07) 3646 3141</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Orthopaedics-CaseManager@health.qld.gov.au')">RBWH-Orthopaedics-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Orthopaedics Trauma:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736464452')">(07) 3646 REPL4452ACE</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Orthopaedics-CaseManager@health.qld.gov.au')">RBWH-Orthopaedics-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Plastics & Reconstructive Surgery/Burns:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736467245')">(07) 3646 7245</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Plastics-CaseManager@health.qld.gov.au')">RBWH-Plastics-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    General Surgery 1:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736460539')">(07) 3646 0539</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-EndoSurg-CaseManager@health.qld.gov.au')">RBWH-EndoSurg-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    General Surgery 2 & 4:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736460538')">(07) 3646 0538</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-GenSurg2&4-CaseManager@health.qld.gov.au')">RBWH-GenSurg2&4-CaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    General Surgery 3:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736460539')">(07) 3646 0539</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-ColorectalSurgery-Coordinator@health.qld.gov.au')">RBWH-ColorectalSurgery-Coordinator@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Urology:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736467076')">(07) 3646 7076</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Urology-SurgicalCaseManager@health.qld.gov.au')">RBWH-Urology-SurgicalCaseManager@health.qld.gov.au</button>


<hr class="contactusSection">


<h2 class="contactusSection">
    Vascular:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736463752')">(07) 3646 3752</button>
<h3 class="contactusSection">
    Email:
</h3>
<button class="contactusSection" onclick="email('RBWH-Vascular-SurgicalCaseManager@health.qld.gov.au')">RBWH-Vascular-SurgicalCaseManager@health.qld.gov.au</button>