<h1 class="contactusSection">
    Preadmission Clinic
</h1>

<hr class="contactusSection">


<h2 class="contactusSection">
    Burns, General Surgery, Neurosurgery, Plastics & Reconstructive Surgery, Thoracic Surgery, Urology and Anaesthetic appointments:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736467476')">(07) 3646 7476</button>

<hr class="contactusSection">

<h2 class="contactusSection">
    Breast Health:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736461975')">(07) 3646 1975</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Ear, Nose & Throat:
</h2>
<h3 class="contactusSection">
    Contact Numbers:
</h3>
<button class="contactusSection" onclick="phone('0736467751')">(07) 3646 7751</button>
<button class="contactusSection" onclick="phone('0736466810')">(07) 3646 6810</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Gynaecology:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736462392')">(07) 3646 2392</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Maxillofacial:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736466810')">(07) 3646 6810</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Obstetric:
</h2>
<h3 class="contactusSection">
    Contact Number:
</h3>
<button class="contactusSection" onclick="phone('0736462398')">(07) 3646 2398</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Ophthalmology:
</h2>
<h3 class="contactusSection">
    Contact Numbers:
</h3>
<button class="contactusSection" onclick="phone('0736465230')">(07) 3646 5230</button>
<button class="contactusSection" onclick="phone('0736466810')">(07) 3646 6810</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Orthopaedics:
</h2>
<h3 class="contactusSection">
    Contact Numbers:
</h3>
<button class="contactusSection" onclick="phone('0736467525')">(07) 3646 7525</button>
<button class="contactusSection" onclick="phone('0736466810')">(07) 3646 6810</button>

<hr class="contactusSection">


<h2 class="contactusSection">
    Vascular:
</h2>
<h3 class="contactusSection">
    Contact Numbers:
</h3>
<button class="contactusSection" onclick="phone('0736467815')">(07) 3646 7815</button>
<button class="contactusSection" onclick="phone('0736466810')">(07) 3646 6810</button>



