<h1 class="contactusSection">
    RBWH Switchboard
</h1>

<h3 class="contactusSection">
    Contact Number:
</h3>

<button class="contactusSection" onclick="phone('0736468111')">(07) 3646 8111</button>