<h3>
Royal Brisbane and Women‘s Hospital
</h3>

<p>
Location: Corner Butterfield St and Bowen Bridge Rd, HERSTON QLD 4029
</p>

<p>
<b>Important Phone Numbers</b>
</p>

<p>
Main Switchboard: (07) 3646 8111
</br>Surgical Day Care Unit: (07) 3646 7814
</p>

<h3>
Our Visiting Hours
</h3>

<p>
We encourage family and friends to visit our patients during their stay. Please check with individual wards and units about their visiting hours.
</p>

<p>
Visitors are asked to keep noise to a minimum and must not smoke within five metres of the hospital grounds. Children are to be accompanied by an adult at all times. 
</p>

<h3>
Pick up and drop off zone
</h3>

<p>
We have 'two minute' pick up/drop off areas for patients and visitors in the hospital grounds.
<ul>
<li>
In front of the main entrance of the hospital (of Butterfield Street)
</li>

<li>
Outside the entry to the Joyce Twedell Building
</li>

<li>
The entry to the Mental Health Unit.
</li>
</ul>
</br>People exceeding this two-minute limit may be fined. Parking fines apply for illegal parking in the hospital grounds.
</p>

<h3>
Bus station
</h3>

<p>
There is a bus station located next to the Royal Brisbane and Women's Hospital. Find out what buses stop at the hospital or search through the TransLink journey planner. For timetable information, call the TransLink Hotline on 131 230 or visit http://translink.com.au/.
</p>

<h3>
Train station
</h3>

<p>
The nearest train stations are <b>Brunswick Street Station</b> in Fortitude Valley or <b>Bowen Hills Station</b>. Both stations are about 1km walk from the Royal Brisbane and Women’s Hospital. For timetable information, call the TransLink Hotline on 131 230 or visit http://translink.com.au/.
</p>