<h2 class="articleBody">
    We Need to Know!
</h2>
<p class="articleBody">
    <b class="articleBody" style="color: red;">
        IMPORTANT: Please contact your Case Manager if there are any changes to your health between the time you are booked for surgery and your surgery date.
    </b>
</p>

<p class="articleBody">
    If you are feeling unwell or have changes to your skin condition, your surgery will be cancelled.
</p>

<p class="articleBody">
    If you are no longer able to attend your surgery, please contact your case manager to let them know (See <u class="articleBody" onclick="displayContactus()">Contact Us</u> page).
</p>

<p class="articleBody">
    With early notice of your cancellation or illness, our case managers will be able to organise another patient to have their surgery.
</p>

<p class="articleBody">
    If you do not let us know that you can’t attend or are cancelled on the day of your surgery due to illness, this will cause theatre time to be wasted and others will miss the opportunity to receive surgery earlier.
</p>

<!--What We Need to Know and When:-->
<h2 class="articleBody">
    What We Need to Know and When:
</h2>
<h3 class="articleBody">
    In the week prior to your surgery:
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            Temperature or fever.
        </li>
        <li class="articleBody">
            Sore throat.
        </li>
        <li class="articleBody">
            Rash, swelling, cuts, breaks or tears in your skin.
        </li>
        <li class="articleBody">
            Infected wounds.
        </li>
        <li class="articleBody">
            Diarrhoea or vomiting.
        </li>
        <li class="articleBody">
            If you have had travelled overseas in the last six months
        </li>
        <li class="articleBody">
            Any visits to your GP or emergency department.
        </li>
    </ul>
</p>
<h3 class="articleBody">
    At any point in time:
</h3>
<p class="articleBody">
    <ul class="articleBody">
        <li class="articleBody">
            If you are unable to attend your surgery for any reason.
        </li>
        <li class="articleBody">
            You become pregnant.
        </li>
        <li class="articleBody">
            New medical conditions
        </li>
        <li class="articleBody">
            You are moving away from the RBWH catchment area.
        </li>
        <li class="articleBody">
            You no longer would like to have your surgery.
        </li>
        <li class="articleBody">
            You have any concerns about your surgery.
        </li>
    </ul>
</p>