<h2 class="articleBody">
    You are at Risk
</h2>

<p class="articleBody">
    Any patient who has surgery is at risk of complications both during the operation and in the immediate post-operative period. This can include complications that affect the lungs (e.g. pneumonia), circulation (e.g. blood clots) or the surgical site (e.g. wound infection). This will be discussed with you by our health professionals. 
</p>

<h2 class="articleBody">
    Keep moving
</h2>

<p class="articleBody">
    Research has shown that early exercise and mobilisation (sitting out of bed and walking) helps to prevent complications related to surgery. You should let staff know if you feel that you are experiencing pain at a level that prevents you from being able to mobilise, take deep breaths or cough.
</p>

<h2 class="articleBody">
    How we will help you
</h2>

<p class="articleBody">
    Your nurse and physiotherapist will encourage you to do regular deep breathing exercises and circulation exercises like moving your ankles up and down. Depending on the type of surgery you have, you may also be shown how to place support over the site of your surgery to perform a supported cough. 
</p>
<p class="articleBody">
    You will also be assisted by your nurse and physiotherapist to get out of bed once it is safe. Depending on your operation, you may be allowed to mobilise within hours of your surgery. For larger procedures, mobility often commences early on the day after your surgery. It is common to feel dizzy the first time you get up, so it is always best to have a nurse or physiotherapist with you the first time you get up.
</p>

<h2 class="articleBody">
    Before we let you leave
</h2>

<p class="articleBody">
    In the days following your surgery it is expected you will become more independent with your mobility, sit out of bed regularly and continue with your deep breathing exercises. 
</p>
<p class="articleBody">
    If there are certain exercises or restrictions specific to your type of surgery, this information will be provided to you by your doctor or physiotherapist as appropriate. 
</p>

<h2 class="articleBody">
    When you return home
</h2>

<p class="articleBody">
    It is important to keep active. Walking is a simple way to keep active and speed up your recovery. You may be given some exercises to complete.
</p>
<p class="articleBody">
    You should aim to gradually increase your walking distance and time until you are walking approximately 20 – 30 minutes per day on most days of the week. Ask your nurse or physiotherapist if you have any concerns about exercise at home.
</p>