<h2 class="articleBody">Feedback and Suggestions</h2>
<p>There are many ways the community can help us improve our service. Please contact us and let us know.</p>
<p>&nbsp;</p>
<h2 class="articleBody">How to let us know what you think</h2>
<p>The quickest way to raise a concern or provide a compliment is to speak to the nurse / person in charge during your stay.</p>
<p>&nbsp;</p>
<p>To provide feedback in writing, complete a have your say feedback form at the hospital and place in the feedback box in the ward / area. Alternatively return via post or e-mail as per the details below.</p>
<p>&nbsp;</p>
<p>You can also provide feedback on the Hospital website:</p>
<p><a href="https://metronorth.health.qld.gov.au/rbwh/contact-us#feedback">https://metronorth.health.qld.gov.au/rbwh/contact-us#feedback</a></p>
<p>&nbsp;</p>
<p>If your concern is not resolved to your satisfaction you may contact the Patient Liaison Service on:</p>
<p>&nbsp;</p>
<p><strong>Phone:</strong> (07) 3646 8216&nbsp; &nbsp; (Please leave a message if your call is not answered)</p>
<p>&nbsp;</p>
<p><strong>Email:</strong> <a href="mailto:RBWH-PLS@health.qld.gov.au">RBWH-PLS@health.qld.gov.au</a></p>
<p>&nbsp;</p>
<p><strong>Postal:&nbsp;</strong>Pateint Liaison Service, Royal brisbane and Women's Hospital, HERSTON, QLD 4029.</p>