<!-- healthcare rights -->
<p class="aboutusBody">
This is the second edition of the Australian charter of Healthcare Rights.
</p>

<p class="aboutusBody">
These rights apply to all people in all places where health care is provided in Australia.
</p class="aboutusBody">

<p class="aboutusBody">
The Charter describes what you, or someone you care for, can expect when receiving health care.
</p>

<h3 class="aboutusBody">
I have a right to:
</h3>

<h3 class="aboutusBody">
Access
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Healthcare services and treatment that meets my needs.
</li>
</ul>

<h3 class="aboutusBody">
Safety
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Receive safe and high quality health care that meets national standards
</li>

<li class="aboutusBody">
Be cared for in an environment that is safe and makes me feel safe
</li>
</ul>

<h3 class="aboutusBody">
Respect
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Be treated as an individual, and with dignity and respect
</li>

<li class="aboutusBody">
Have my culture, identity, beliefs and choices recognised and respected
</li>
</ul>

<h3 class="aboutusBody">
Partnership
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Ask questions and be involved in open and honest communication
</li>

<li class="aboutusBody">
Make decisions with my healthcare provider, to the extent that I choose and am able to
</li>

<li class="aboutusBody">
Include the people that I want in planning and decision-making
</li>
</ul>

<h3 class="aboutusBody">
Information
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Clear information about my condition, the possible benefits and risks of different tests and treatments, so I can give my informed consent
</li>

<li class="aboutusBody">
Receive information about services, waiting times and costs
</li>

<li class="aboutusBody">
Be given assistance, when I need it, to help me to understand and use health information
</li>

<li class="aboutusBody">
Access my health information
</li>

<li class="aboutusBody">
Be told if something has gone wrong during my health care, how it happened, how it may affect me and what is being done to make care safe
</li>
</ul>

<h3 class="aboutusBody">
Privacy
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Have my personal privacy respected
</li>

<li class="aboutusBody">
Have information about me and my health kept secure and confidential
</li>
</ul>

<h3 class="aboutusBody">
Give feedback
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Provide feedback or make a complaint without it affecting the way that I am treated
</li>

<li class="aboutusBody">
Have my concerns addressed in a transparent and timely way
</li>

<li class="aboutusBody">
Share my ecperience and participate to improve the quality of care and health services
</li>
</ul>

<p class="aboutusBody">
AUSTRALIAN COMMISSION ON SAFETY AND QUALITY IN HEALTH CARE
</p>

<p class="aboutusBody">
For more information ask a member of staff or visit safetyandquality.gov.au/your-rights
</p>
