<!--1. When I arrive at the RBWH-->
<h2>
    1. When I arrive at the RBWH
</h2>
<p>
    <ul>
        <li>
            Present to the General Admissions Desk on ground floor of Ned Hanlon Building via the main entrance on Butterfield Street.
        </li>
        <li>
            Refer to your procedure booking letter for date and time.
        </li>
        <li>
            It is <b>very important</b> that you bring your patient registration form that you would have received with your procedure booking letter.
        </li>
    </ul>
</p>

<!--2. What happens after I check into Ground floor admissions?-->
<h2>
    2. What happens after I check into Ground floor admissions?
</h2>
<p>
    <ul>
        <li>
            You will be directed to waiting rooms of either the Surgical Day Care Unit (Level 4 Ned Hanlon Building), Women’s Day Surgery Unit (Level 5 Ned Hanlon Building), Minor Procedures Unit (MPU), or to your surgical ward.
        </li>
        <li>
            Please present your registration paperwork and any other documents to the reception staff on arrival.
        </li>
        <li>
            Nursing staff will call you through to prepare you for surgery, depending on the order you are booked on the operating list. There are 18 operating rooms attached to the SDCU, 4 operating rooms attached to Women’s Day Surgery unit and 2 Minor Procedure operating rooms – as you can imagine this area can get very busy.  We appreciate your patience!
        </li>
        <li>
            During the preparation process, a nurse will complete a surgical checklist, vital signs and apply a pair of anti-blood clot stockings. You will have a comfortable recliner to sit in and a heated blanket while waiting for surgery.
        </li>
        <li>
            Due to limited space we request only one person accompany you.
        </li>
        <li>
            If you need to leave this area, please inform the reception staff.
        </li>
    </ul>
</p>

<!--3. What happens when I am called into the operating room for my surgery?-->
<h2>
    3. What happens when I am called into the operating room for my surgery?
</h2>
<p>
    <ul>
        <li>
            After you have completed your preparation with your nurse, one of our Theatre Support Officers will transfer you either to the Holding Bay or the Operating Room - Induction Room.
        </li>
        <li>
            This is a good time for your relatives to go and have something to eat or drink (See page 8).
        </li>
        <li>
            When you arrive in the Holding Bay or Induction room, we will again ensure we have the correct patient and are performing the correct surgery you have consented for by asking you a number of questions.
        </li>
        <li>
            Our Anaesthetic team will also ask you some more questions while preparing you for surgery.
        </li>
        <li>
            Please be aware that you may be here for a little while, as we prepare you and the operating room for surgery.
        </li>
        <li>
            When the operating room is ready you will be moved into the operating room. Please be aware that the operating team consists of several members including surgeons, anaesthetists, nurses, allied health professionals and theatre support officers. You will again be asked the same questions by the team to ensure we have the correct patient and are performing the correct surgery. 
        </li>
        <li>
            The operating room can be quite cold so please don’t hesitate to request another blanket! There will be a lot of people moving about as they are getting ready for your surgery to commence – this is all very normal.
        </li>
    </ul>
</p>

<!--4. Who are all the people in my operating room?-->
<h2>
    4. Who are all the people in my operating room?
</h2>
<p>
    <ul>
        <li>
            <b>Surgeon</b> - Will be performing your surgery                     
        </li>
        <li>
            <b>Anaesthetist</b> - Will be providing and monitoring your anaesthesia         
        </li>
        <li>
            <b>Nurse</b> - Will be caring for you during surgery & assisting the surgeon         
        </li>
        <li>
            <b>Allied Health Professional</b> - Will be assisting the anaesthetist         
        </li>
        <li>
            <b>Theatre Support Officer</b> - Assist the entire team with equipment and positioning         
        </li>
        <li>
            <b>Company Representatives</b> - Assist the surgeon with specialist equipment and implants specific to your surgery         
        </li>
        <li>
            <b>Students</b> - We are a teaching hospital and students may be in attendance observing the operating rooms         
        </li>
    </ul>
</p>

<!--5. What happens after my surgery is finished?-->
<h2>
    5. What happens after my surgery is finished?
</h2>
<p>
    <ul>
        <li>
            When your surgery is completed you will be transferred to the Post Anaesthetic Care Unit (PACU) where our wonderful nurses will assist you in your recovery from surgery.
        </li>
        <li>
            <b>If you are going home the same day as your surgery:</b>
        </li>
        <ul>
            <li>
                You will return to the SDCU, Women’s Day Surgery unit or MPU where you will be given something to eat. 
            </li>
            <li>
                You will be able to leave once you have recovered and received your postoperative instructions, meds and appointments. Expect between 4 – 6 hours.
            </li>
            <li>
                If you had a general anaesthetic, you will require a responsible adult to take you home and stay with you for the next 24 hours – if this is not possible your surgery will be cancelled.
            </li>
        </ul>
        <li>
            <b>If you are staying overnight or longer:</b>
        </li>
        <ul>
            <li>
                You will be transferred to one of our hospital wards for care. We will advise which ward on the surgery day.
            </li>
        </ul>
    </ul>
</p>

<!--Discharge Information-->
<h2>
    Discharge Information
</h2>
<ul>
    <li>
        Prepare for discharge before 9.00am in all wards.
    </li>
    <li>
        You may be discharged via the Transit Lounge on Ground floor (open until 6.00pm). Pick up from the Transit Lounge is via Butterfield Street.
    </li>
    <li>
        Your GP can view your public hospital healthcare information online.
    </li>
    <li>
        Don’t forget your belongings
    </li>
    <li>
        Before discharge we may provide you with:
    </li>
    <ul>
        <li>
            An Outpatient appointment.
        </li>
        <li>
            A discharge prescription (if required).
        </li>
        <li>
            A discharge summary to take to your local doctor.
        </li>
        <li>
            Medical certificate (if required).
        </li>
        <li>
            Patient Travel Subsidy Scheme forms (if required).
        </li>
    </ul>
</ul>