<!--What are healthcare associated infections?-->
<h2 class="articleBody">
    What are healthcare associated infections?
</h2>

<p class="articleBody">
    An infection is a disease caused by micro-organisms such as bacteria, viruses, fungi, or parasites. These microorganisms are also called ‘bugs’ or ‘germs’. Healthcare associated infections (HAIs) are infections that people may catch when they are receiving care in a healthcare facility – for example, in hospital, at a GP surgery, in a nursing home, or even at home.
</p>

<!--Hospital, healthcare and bugs-->
<h2 class="articleBody">
    Hospital, healthcare and bugs
</h2>

<p class="articleBody">
    Hospitals are clean but unfortunately, they can be a place that germs like to spread.  When you are in hospital your body can be more susceptible to germs. Healthcare associated infections (HAIs) are infections that people catch when they are receiving care in a healthcare facility. This may be because:
    <ul class="articleBody">
        <li class="articleBody">
            Your immune system is weakened due to illness.
        </li>
        <li class="articleBody">
            There are devices that bypass the body’s normal immune defences (e.g. drips).
        </li>
        <li class="articleBody">
            The elderly and very young are at higher risk due to such things as:
        </li>
            <ul class="articleBody">
                <li class="articleBody">
                    Not being fully immunised.
                </li>
                <li class="articleBody">
                    Functional difficulties e.g. swallowing, walking and toileting.
                </li>
            </ul>
        <li class="articleBody">
            Having wounds and broken skin (e.g. surgical wounds, burns)
        </li>
        <li class="articleBody">
            If you have been overseas in the last 6 months let our staff know!
        </li>
    </ul>
</p>

<!--Preventing the spread of germs is everyone’s business-->
<h2  class="articleBody">
    Preventing the spread of germs is everyone’s business
</h2>

<p  class="articleBody">
    Metro North Facilities employ Infection Prevention and Control nursing staff that help all staff focus on preventing healthcare associated infection through:

    <ul class="articleBody">
        <li class="articleBody">
            Infection control procedures and policies.
        </li>
        <li class="articleBody">
            Correct and frequent hand hygiene measures by all staff and patients.
        </li>
        <li class="articleBody">
            Keeping the healthcare environment and equipment clean.
        </li>
        <li class="articleBody">
            Complying with standard sterile techniques when performing surgery, caring for wounds or inserting and caring for medical devices such as drips and catheters.
        </li>
        <li class="articleBody">
            Using antibiotics appropriately to prevent and treat infections. 
        </li>
        <li class="articleBody">
            Placing patients with certain types of bugs in single rooms to help protect others.
        </li>
    </ul>
</p>

<!--Things you can do to prevent infection during your hospital stay-->
<h2  class="articleBody">
    Things you can do to prevent infection during your hospital stay
</h2>

<p  class="articleBody">
    Staff involved in your care take measures to prevent the spread of infection and illness. There are some important things that you can also do to prevent getting a HAI:

    <ul class="articleBody">
        <li class="articleBody">
            Make sure that you clean your hands often with soap and running water, or use an alcohol-based hand rub, especially after using the toilet and before eating.
        </li>
        <li class="articleBody">
            Don’t be afraid to ask nursing and medical staff if they have cleaned their hands before they touch you.
        </li>
        <li class="articleBody">
            If you have an IV cannula, let your nurse know if the site around the cannula is red, swollen, painful or leaking.
        </li>
        <li class="articleBody">
            Tell your nurse if any dressings are not clean, dry and attached around your wound.
        </li>
        <li class="articleBody">
            Let your nurse know if tubes or catheters feel displaced.
        </li>
        <li class="articleBody">
            Let your nurse or doctor know if you have diarrhoea.
        </li>
        <li class="articleBody">
            Cover your mouth and nose when you cough or sneeze.
        </li>
        <li class="articleBody">
            Take course of antibiotics as directed by your treating team.
        </li>
        <li class="articleBody">
            Ask relatives or friends who have colds or are unwell not to visit.
        </li>
        <li class="articleBody">
            Let your nurse know if you have travelled overseas in the last 6 months.
        </li>
    </ul>
</p>

<!--What to expect if you get an infection in hospital-->
<h2  class="articleBody">
    What to expect if you get an infection in hospital
</h2>

<p  class="articleBody">
    If you do get a healthcare associated infection in hospital, measures may be put in place to stop the spread to other patients. Depending on the type of infection, these measures might include:

    <ul class="articleBody">
        <li class="articleBody">
            Being moved to a single room with your own bathroom.
        </li>
        <li class="articleBody">
            Being nursed by staff wearing gloves and gowns.
        </li>
    </ul>
</p>

<p  class="articleBody">
    <b>Where to get help</b> – Ask your nursing staff, doctor or Hospital infection control department
</p>