<p class="aboutusBody">
The Royal Brisbane and Women’s Hospital (RBWH) is the largest tertiary referral hospital in Queensland with nearly 1,000 beds and is one of five hospitals within the Metro North Hospital and Health Service (MNHHS). The RBWH provides emergency and elective surgery to many people across Brisbane and Queensland.
</p>

<h3 class="aboutusBody">
Our Population (As at 2018)
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
We have a population of 338,155 persons in the RBWH primary catchment. 
</li>

<li class="aboutusBody">
People aged 0-14 years (15.5%) 
</li>

<li class="aboutusBody">
People aged 15-44 years (51.1%)
</li>

<li class="aboutusBody">
People aged 45-69 years (25.5%)
</li>

<li class="aboutusBody">
People aged 70 years and over (7.9%)
</li>

<li class="aboutusBody">
There were 2863 people (0.9%) in the RBWH primary catchment who identify as Aboriginal and/or Torres Strait Islander (2016 data) 
</li>

<li class="aboutusBody">
The majority of people treated at the RBWH live in areas outside the primary service catchment, including other Queensland catchments and northern New South Wales. 
</li>
</ul>

<h3 class="aboutusBody">
Our Professionals
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Over 140 Surgical Consultants
</li>

<li class="aboutusBody">
Over 10 Surgical Fellows
</li>

<li class="aboutusBody">
Over 30 Surgical Registrars
</li>

<li class="aboutusBody">
94 Anaesthetic Consultants
</li>

<li class="aboutusBody">
12 Provisional Anaesthetic Fellows
</li>

<li class="aboutusBody">
35 Anaesthetic Registrars
</li>

<li class="aboutusBody">
Our surgical specialties: Vascular, Orthopaedic, Maxillo-Facial, Ear, Nose & Throat Surgery, Ophthalmology, Thoracic, Urology, Burns, Plastics and Reconstructive, General Surgery, Neurosurgery, Gynaecology and Obstetrics.
</li>
</ul>

<h3 class="aboutusBody">
Our Service Enablers
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Culture 
</br class="aboutusBody">We will embrace diversity to create a welcoming and inclusive environment for all. 
</li>

<li class="aboutusBody">
Education and training 
</br class="aboutusBody">We will create an environment that caters for the contemporary educational needs of our current and future staff.
</li class="aboutusBody">

<li class="aboutusBody">
Connecting care 
</br class="aboutusBody">We will continue to advance collaboration within our hospital as well as externally to improve the experience and increase convenience for our patients. 
</li class="aboutusBody">

<li class="aboutusBody">
Digitalisation 
</br class="aboutusBody">New digital models and improved consumer engagement will enable us to achieve personalised healthcare that consumers and clinicians expect.  
</li>
</ul>

<h3 class="aboutusBody">
Our Operating Rooms
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
22 Main Operating Theatres
</li>

<li class="aboutusBody">
2 Minor Procedure Unit Operating Theatres
</li>

<li class="aboutusBody">
More than 26,000 operations performed a year
</li>

<li class="aboutusBody">
Average over 500 procedures a week
</li>
</ul>

<h3 class="aboutusBody">
Our Values
</h3>
<ul class="aboutusBody">
<li class="aboutusBody">
Respect
</li>

<l class="aboutusBody"i>
Teamwork
</li>

<li class="aboutusBody">
Compassion
</li>

<li class="aboutusBody">
High Performance
</li>

<li class="aboutusBody">
Integrity
</li>
</ul>