<p class="articleBody">
    When you go home following your surgery, especially if you have had a general anaesthetic
    <ul class="articleBody">
        <li class="articleBody">
            You will need to organise a family member or friend to be able to be with you for the following 24 hours. If you <b class="articleBody" style="color: red;">DO NOT</b> have a support person your <b class="articleBody" style="color: red;">SURGERY WILL BE CANCELLED.</b>
        </li>
        <li class="articleBody">
            Ensure your support person is aware that the hospital will be contacting them following your surgery.
        </li>
    </ul>
</p>

<p class="articleBody">
    If you feel unwell following your surgery, have severe pain or have any other concerns, you will need to contact a health professional to receive the help you need. This could be your local GP, your hospital specialist or your closest emergency department.
</p>

<p class="articleBody">
    If you have any of the below symptoms, contact the appropriate healthcare professional. 
</p>

<h2 class="articleBody" style="color: red;">
    URGENT CONCERNS
</h2>
<p class="articleBody">
    <b class="articleBody">
        CALL 000 OR GO TO YOUR LOCAL EMERGENCY DEPARTMENT
    </b>
    <ul class="articleBody">
        <li class="articleBody">
            Uncontrollable bleeding
        </li>
        <li class="articleBody">
            Chest pain or tightness of the chest
        </li>
        <li class="articleBody">
            An altered level of your consciousness/difficulty staying awake
        </li>
        <li class="articleBody">
            Seizures/fits/collapse or fall
        </li>
        <li class="articleBody">
            Sudden onset of weakness or paralysis of the limbs or face
        </li>
        <li class="articleBody">
            Difficulty in breathing
        </li>
    </ul>
</p>

<h2 class="articleBody" style="color: orange;">
    NON – URGENT CONCERNS
</h2>
<p class="articleBody">
    <b class="articleBody">
        CONTACT YOUR LOCAL GP OR YOUR HOSPITAL TREATING TEAM
    </b>
    <ul class="articleBody">
        <li class="articleBody">
            Redness around your wound site
        </li>
        <li class="articleBody">
            Increasing pain that is not controlled by pain relief medication
        </li>
        <li class="articleBody">
            Increasing swelling around the surgical area
        </li>
        <li class="articleBody">
            Your wound opens up or stitches break
        </li>
        <li class="articleBody">
            You have a fever
        </li>
        <li class="articleBody">
            Any concerns that you, your family or friends may have
        </li>
    </ul>
</p>

<h2 class="articleBody">
    GENERAL ENQUIRES
</h2>
<p class="articleBody">
    <b class="articleBody">
        CALL 13HEALTH (13 43 25 84) 
    </b>
</p>
<p class="articleBody">
    13 HEALTH is a confidential phone service that provides health advice to Queenslanders. You can phone and talk to a registered nurse 24 hours a day, 7 days a week for the cost of a local call. <b class="articleBody">This is not a diagnostic service and should not replace medical consultation. In an emergency always dial 000.</b>
</p>
<p class="articleBody">
    Registered nurses provide health–related advice over the phone for health information and assessment of symptoms. This includes a comprehensive telephone assessment resulting in a recommendation of a time and place of care.
</p>
<p class="articleBody">
    <b class="articleBody">
        HEALTHDIRECT
    </b>
</p>
<p class="articleBody">
    The healthdirect service will help you find the right health information for your symptoms and provide advice on what to do next. This government-owned service aims to help you make informed decisions about your health using online tools including a risk checker, symptom checker and question builder. 
</p>
<p class="articleBody">
    Visit <a href="www.healthdirect.gov.au">www.healthdirect.gov.au</a> or download the heathdirect app.
</p>