<h2 class="articleBody">
    Anaemia
</h2>

<p class="articleBody">
Anaemia occurs when there are not enough red blood cells in your body, or the blood cells do not have enough haemoglobin to carry oxygen to your tissues. Having anaemia before you go to surgery puts you at a higher risk for needing a blood transfusion. The most common cause of anaemia is Iron deficiency. If anaemia is found it can be corrected before surgery but this can take several months
</p>

<h2 class="articleBody">
    Iron Deficiency
</h2>

<p class="articleBody">
You may need to commence taking an iron supplement if your iron levels are very low. If you cannot tolerate oral iron, or you are required to increase your iron stores rapidly, it may be recommended that you receive an iron infusion prior to your surgery. 
</p>

<h2 class="articleBody">
    Signs and symptoms of anaemia and iron deficiency
</h2>

<ul class="articleBody">
    <li class="articleBody">
        Breathlessness
    </li>
    <li class="articleBody">
        Tiredness or fatigue
    </li>
    <li class="articleBody">
        Dizziness
    </li>
    <li class="articleBody">
        Decreased concentration 
    </li>
</ul>

<h2 class="articleBody">
    Your medications can affect your blood
</h2>

<ul class="articleBody">
    <li class="articleBody">
        Your hospital doctors will need to know if you are taking any medications that affect your blood:
    </li>
    <ul class="articleBody">
        <li class="articleBody">
            Antiplatelet medicines like aspirin or clopidogrel (Iscover/Plavix)
        </li>
        <li class="articleBody">
            Anticoagulant medicines like warfarin (Coumadin/Marevan) or dabigatran (Pradaxa)
        </li>
        <li class="articleBody">
            Non-steroidal anti-inflammatory medicines like ibuprofen (Nurofen) or naproxen (Inza/Naprosyn).
        </li>
        <li class="articleBody">
            Proton pump inhibitors such as omeprazole (Losec)
        </li>
        <li class="articleBody">
            Any herbal or over the counter medications 
        </li>
    </ul>
</ul>

<h1 class="articleBody">
    Are you ready for your elective surgery?
</h1>

<table class="articleBody">
    <tr class="articleBody">
        <td class="articleBody">
            <h2 class="articleBody">
                Make an appointment with your GP now
            </h2>
        </td>
        <td class="articleBody">
            <h2 class="articleBody">
                Why do I need to see my GP?
            </h2>
        </td>
    </tr>
    <tr class="articleBody">
        <td class="articleBody">
            <p class="articleBody">
                You will need to have: 
            </p>
            <ul class="articleBody">
                <li class="articleBody">
                    A blood test to screen for anaemia and iron deficiency
                </li>
                <li class="articleBody">
                    A review of existing medical problems
                </li>
                <li class="articleBody">
                    A check for undiagnosed conditions
                </li>
                <li class="articleBody">
                    A general health check such as weight, blood pressure and smoking
                </li>
            </ul>
            <p class="articleBody">
                If you have a number of problems you may need to make a longer appointment or have a second appointment at a later date. 
            </p>
        </td>
        <td class="articleBody">
            <ul class="articleBody">
                <li class="articleBody">
                    Before major surgery it is important to make sure that your body is in the best condition possible
                </li>
                <li class="articleBody">
                    The sooner problems are found the more time there is to fix them
                </li>
                <li class="articleBody">
                    If significant medical problems are not found until you come to hospital your surgery might be delayed or cancelled
                </li>
                <li class="articleBody">
                    The better your health before surgery, the better you are able to recover from surgery
                </li>
            </ul>
        </td>
    </tr>
</table>