<h2 class="articleBody">About us</h2>
<p class="articleBody">Our teams assists Aboriginal and Torres Strait Islander patients and their families with their journey to hospital and during their stay.</p>
<p class="articleBody">&nbsp;</p>
<p class="articleBody">When you attend our hospital make sure that you ask our helpful staff to contact the Indigenous Hospital Liaison Officer (IHLO) or Indigenous Patient Journey (IPJ) Officer, to come and assist you. Patients will be supported by the:</p>
<ul>
<li class="articleBody"><strong>Indigenous Hospital Liaison Officer (IHLO)</strong></li>
</ul>
<p style="padding-left: 30px;">Assist patients and their families, who reside in Brisbane Metro; South East Queensalnd and New South Wales.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<ul>
<li><strong>Indigenous Patient Journey Officer (IPJ)</strong></li>
</ul>
<p style="padding-left: 30px;">Assist patients and their families who are travelling form rural, remote and region communities.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<ul>
<li><strong>Maternity Service - Ngarrama roiyal Midwifery Group Practice</strong></li>
</ul>
<p style="padding-left: 30px;">A small group of dedicated midwives will care for mums and their families throughout pregnancy and after their babies are born.</p>
<p style="padding-left: 30px;">&nbsp;</p>
<ul>
<li><strong>Indigenous Mental Health</strong></li>
</ul>
<p style="padding-left: 30px;">Assist mental health consumers presenting to RBWH for psychiatric emergencies, inpatient and community care.</p>
<h2 class="articleBody">What IHLOs do</h2>
<p>We support you and your family by providing:</p>
<ul>
<li>Bedside visits to explain the hospital system and companionship.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Support and advocate your needs when speaking to hospital staff about important matters.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Assistance with engaging language translation services (interpreters).</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Ensure you are aware of the different types of services available to you at the hospital.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Help you stay up to date with your treatments to achieve long term best health outcomes.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Transportation support for eligible patients/carers and family members.</li>
</ul>